backend/app/schemas_xsd/SIC/acmt.015.001.03.ch.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
(C) Copyright 2022, SIX Interbank Clearing Ltd
XML Schema used in the Swiss Interbank space:
	Suffix part 1: .ch:	Identification as a Swiss (CH) version
	Suffix part 2: .01:	Version of this scheme

Based on ISO acmt.015.003.01 (urn:iso:std:iso:20022:tech:xsd:acmt.015.003.01)
-->
<xs:schema xmlns="http://www.six-interbank-clearing.com/de/acmt.015.001.03.ch.01"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.six-interbank-clearing.com/de/acmt.015.001.03.ch.01"
    elementFormDefault="qualified">
  <xs:element name="Document" type="Document_CH_acmt015"/>
  <xs:complexType name="AccountContract2">
    <xs:sequence>
      <xs:element name="TrgtGoLiveDt" type="ISODate" minOccurs="0"/>
      <xs:element name="TrgtClsgDt" type="ISODate" minOccurs="0"/>
      <xs:element name="UrgcyFlg" type="YesNoIndicator" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountExcludedMandateMaintenanceRequestV03">
    <xs:sequence>
      <xs:element name="Refs" type="References4"/>
      <xs:element name="Fr" type="OrganisationIdentification29" minOccurs="0"/>
      <xs:element name="CtrctDts" type="AccountContract2" minOccurs="0"/>
      <xs:element name="UndrlygMstrAgrmt" type="ContractDocument1" minOccurs="0"/>
      <xs:element name="Acct" type="CustomerAccountModification1"/>
      <xs:element name="AcctSvcrId" type="BranchAndFinancialInstitutionIdentification6"/>
      <xs:element name="Org" type="OrganisationModification2"/>
      <xs:element name="AddtlMsgInf" type="AdditionalInformation5" minOccurs="0"/>
      <xs:element name="DgtlSgntr" type="PartyAndSignature3" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="SplmtryData" type="SupplementaryData1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountExcludedMandateMaintenanceRequestV03_CH_acmt015">
    <xs:complexContent>
      <xs:restriction base="AccountExcludedMandateMaintenanceRequestV03">
        <xs:sequence>
          <xs:element name="Refs" type="References4_CH_acmt015"/>
          <xs:element name="Acct" type="CustomerAccountModification1_CH_acmt015"/>
          <xs:element name="AcctSvcrId" type="BranchAndFinancialInstitutionIdentification6_CH_acmt015"/>
          <xs:element name="Org" type="OrganisationModification2_CH_acmt015"/>
          <xs:element name="AddtlMsgInf" type="AdditionalInformation5" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AccountIdentification4Choice">
    <xs:choice>
      <xs:element name="IBAN" type="IBAN2007Identifier"/>
      <xs:element name="Othr" type="GenericAccountIdentification1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AccountIdentification4Choice_CH_acmt015">
    <xs:complexContent>
      <xs:restriction base="AccountIdentification4Choice">
        <xs:choice>
          <xs:element name="Othr" type="GenericAccountIdentification1_CH_acmt015"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AccountSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="AccountStatus3Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DELE"/>
      <xs:enumeration value="DISA"/>
      <xs:enumeration value="ENAB"/>
      <xs:enumeration value="FORM"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AccountStatusModification1">
    <xs:sequence>
      <xs:element name="ModCd" type="Modification1Code" minOccurs="0"/>
      <xs:element name="Sts" type="AccountStatus3Code"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ActiveCurrencyCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AdditionalInformation5">
    <xs:sequence>
      <xs:element name="Inf" type="Max256Text" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddressModification2">
    <xs:sequence>
      <xs:element name="ModCd" type="Modification1Code" minOccurs="0"/>
      <xs:element name="Adr" type="PostalAddress24"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddressModification2_CH_acmt015">
    <xs:complexContent>
      <xs:restriction base="AddressModification2">
        <xs:sequence>
          <xs:element name="Adr" type="PostalAddress24"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="AddressType2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADDR"/>
      <xs:enumeration value="BIZZ"/>
      <xs:enumeration value="DLVY"/>
      <xs:enumeration value="HOME"/>
      <xs:enumeration value="MLTO"/>
      <xs:enumeration value="PBOX"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AddressType3Choice">
    <xs:choice>
      <xs:element name="Cd" type="AddressType2Code"/>
      <xs:element name="Prtry" type="GenericIdentification30"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AmountModification1">
    <xs:sequence>
      <xs:element name="ModCd" type="Modification1Code" minOccurs="0"/>
      <xs:element name="Amt" type="ImpliedCurrencyAndAmount"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AnyBICDec2014Identifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BICFIDec2014Identifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification6">
    <xs:sequence>
      <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18"/>
      <xs:element name="BrnchId" type="BranchData3" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification6_CH_acmt015">
    <xs:complexContent>
      <xs:restriction base="BranchAndFinancialInstitutionIdentification6">
        <xs:sequence>
          <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18_CH_acmt015"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BranchData3">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text" minOccurs="0"/>
      <xs:element name="LEI" type="LEIIdentifier" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress24" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccountType2Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalCashAccountType1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ClearingSystemIdentification2Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2">
    <xs:sequence>
      <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice" minOccurs="0"/>
      <xs:element name="MmbId" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2_CH_acmt015">
    <xs:complexContent>
      <xs:restriction base="ClearingSystemMemberIdentification2">
        <xs:sequence>
          <xs:element name="MmbId" type="Max35Text"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CodeOrProprietary1Choice">
    <xs:choice>
      <xs:element name="Cd" type="Max4Text"/>
      <xs:element name="Prtry" type="GenericIdentification13"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="CommunicationFormat1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalCommunicationFormat1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="CommunicationMethod2Choice">
    <xs:choice>
      <xs:element name="Cd" type="CommunicationMethod2Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="CommunicationMethod2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EMAL"/>
      <xs:enumeration value="FAXI"/>
      <xs:enumeration value="FILE"/>
      <xs:enumeration value="ONLI"/>
      <xs:enumeration value="POST"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Contact4">
    <xs:sequence>
      <xs:element name="NmPrfx" type="NamePrefix2Code" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PhneNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="MobNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="FaxNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="EmailAdr" type="Max2048Text" minOccurs="0"/>
      <xs:element name="EmailPurp" type="Max35Text" minOccurs="0"/>
      <xs:element name="JobTitl" type="Max35Text" minOccurs="0"/>
      <xs:element name="Rspnsblty" type="Max35Text" minOccurs="0"/>
      <xs:element name="Dept" type="Max70Text" minOccurs="0"/>
      <xs:element name="Othr" type="OtherContact1" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="PrefrdMtd" type="PreferredContactMethod1Code" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContractDocument1">
    <xs:sequence>
      <xs:element name="Ref" type="Max35Text"/>
      <xs:element name="SgnOffDt" type="ISODate" minOccurs="0"/>
      <xs:element name="Vrsn" type="Max6Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CountryCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CustomerAccountModification1">
    <xs:sequence>
      <xs:element name="Id" type="AccountIdentification4Choice" maxOccurs="unbounded"/>
      <xs:element name="Nm" type="NameModification1" minOccurs="0"/>
      <xs:element name="Sts" type="AccountStatusModification1" minOccurs="0"/>
      <xs:element name="Tp" type="TypeModification1" minOccurs="0"/>
      <xs:element name="Ccy" type="ActiveCurrencyCode"/>
      <xs:element name="MnthlyPmtVal" type="AmountModification1" minOccurs="0"/>
      <xs:element name="MnthlyRcvdVal" type="AmountModification1" minOccurs="0"/>
      <xs:element name="MnthlyTxNb" type="NumberModification1" minOccurs="0"/>
      <xs:element name="AvrgBal" type="AmountModification1" minOccurs="0"/>
      <xs:element name="AcctPurp" type="PurposeModification1" minOccurs="0"/>
      <xs:element name="FlrNtfctnAmt" type="AmountModification1" minOccurs="0"/>
      <xs:element name="ClngNtfctnAmt" type="AmountModification1" minOccurs="0"/>
      <xs:element name="StmtFrqcyAndFrmt" type="StatementFrequencyAndFormModification1" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ClsgDt" type="DateModification1" minOccurs="0"/>
      <xs:element name="Rstrctn" type="RestrictionModification1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomerAccountModification1_CH_acmt015">
    <xs:complexContent>
      <xs:restriction base="CustomerAccountModification1">
        <xs:sequence>
          <xs:element name="Id" type="AccountIdentification4Choice_CH_acmt015"/>
          <xs:element name="Ccy" type="ActiveCurrencyCode"/>
          <xs:element name="Rstrctn" type="RestrictionModification1_CH_acmt015"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DateAndPlaceOfBirth1">
    <xs:sequence>
      <xs:element name="BirthDt" type="ISODate"/>
      <xs:element name="PrvcOfBirth" type="Max35Text" minOccurs="0"/>
      <xs:element name="CityOfBirth" type="Max35Text"/>
      <xs:element name="CtryOfBirth" type="CountryCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateModification1">
    <xs:sequence>
      <xs:element name="ModCd" type="Modification1Code" minOccurs="0"/>
      <xs:element name="Dt" type="ISODate"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="AcctExcldMndtMntncReq" type="AccountExcludedMandateMaintenanceRequestV03"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document_CH_acmt015">
    <xs:complexContent>
      <xs:restriction base="Document">
        <xs:sequence>
          <xs:element name="AcctExcldMndtMntncReq" type="AccountExcludedMandateMaintenanceRequestV03_CH_acmt015"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="Exact4AlphaNumericText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z0-9]{4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalAccountIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalCashAccountType1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalClearingSystemIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalCommunicationFormat1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalOrganisationIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalPersonIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FinancialIdentificationSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification18">
    <xs:sequence>
      <xs:element name="BICFI" type="BICFIDec2014Identifier" minOccurs="0"/>
      <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2" minOccurs="0"/>
      <xs:element name="LEI" type="LEIIdentifier" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress24" minOccurs="0"/>
      <xs:element name="Othr" type="GenericFinancialIdentification1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification18_CH_acmt015">
    <xs:complexContent>
      <xs:restriction base="FinancialInstitutionIdentification18">
        <xs:sequence>
          <xs:element name="BICFI" type="BICFIDec2014Identifier" minOccurs="0"/>
          <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2_CH_acmt015" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="Frequency7Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DAIL"/>
      <xs:enumeration value="INDA"/>
      <xs:enumeration value="MIAN"/>
      <xs:enumeration value="MNTH"/>
      <xs:enumeration value="MOVE"/>
      <xs:enumeration value="QURT"/>
      <xs:enumeration value="TEND"/>
      <xs:enumeration value="WEEK"/>
      <xs:enumeration value="YEAR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FullLegalNameModification1">
    <xs:sequence>
      <xs:element name="ModCd" type="Modification1Code" minOccurs="0"/>
      <xs:element name="FullLglNm" type="Max350Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FullLegalNameModification1_CH_acmt015">
    <xs:complexContent>
      <xs:restriction base="FullLegalNameModification1">
        <xs:sequence>
          <xs:element name="FullLglNm" type="Max350Text"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericAccountIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max34Text"/>
      <xs:element name="SchmeNm" type="AccountSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericAccountIdentification1_CH_acmt015">
    <xs:complexContent>
      <xs:restriction base="GenericAccountIdentification1">
        <xs:sequence>
          <xs:element name="Id" type="Max34Text"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericFinancialIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="FinancialIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericIdentification13">
    <xs:sequence>
      <xs:element name="Id" type="Max4AlphaNumericText"/>
      <xs:element name="SchmeNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericIdentification30">
    <xs:sequence>
      <xs:element name="Id" type="Exact4AlphaNumericText"/>
      <xs:element name="Issr" type="Max35Text"/>
      <xs:element name="SchmeNm" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericOrganisationIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericPersonIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="IBAN2007Identifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ImpliedCurrencyAndAmount">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="LEIIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max128Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="128"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max140Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="140"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max16Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max2048Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="2048"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max256Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="256"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max34Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="34"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max350Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="350"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_CH_acmt015">
    <xs:restriction base="Max35Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="[A-Za-z0-9+?/:()\.,&apos;\-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max4AlphaNumericText">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
      <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max4Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max5NumericText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,5}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max6Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max70Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MessageIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="CreDtTm" type="ISODateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageIdentification1_CH_acmt015">
    <xs:complexContent>
      <xs:restriction base="MessageIdentification1">
        <xs:sequence>
          <xs:element name="Id" type="Max35Text_CH_acmt015"/>
          <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="Modification1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADDD"/>
      <xs:enumeration value="DELE"/>
      <xs:enumeration value="MODI"/>
      <xs:enumeration value="NOCH"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Modification1Code_CH_acmt015">
    <xs:restriction base="Modification1Code">
      <xs:enumeration value="MODI"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="NameModification1">
    <xs:sequence>
      <xs:element name="ModCd" type="Modification1Code" minOccurs="0"/>
      <xs:element name="Nm" type="Max70Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="NamePrefix2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DOCT"/>
      <xs:enumeration value="MADM"/>
      <xs:enumeration value="MIKS"/>
      <xs:enumeration value="MISS"/>
      <xs:enumeration value="MIST"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="NumberModification1">
    <xs:sequence>
      <xs:element name="ModCd" type="Modification1Code" minOccurs="0"/>
      <xs:element name="Nb" type="Max5NumericText"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentification29">
    <xs:sequence>
      <xs:element name="AnyBIC" type="AnyBICDec2014Identifier" minOccurs="0"/>
      <xs:element name="LEI" type="LEIIdentifier" minOccurs="0"/>
      <xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentificationSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="OrganisationModification2">
    <xs:sequence>
      <xs:element name="FullLglNm" type="FullLegalNameModification1"/>
      <xs:element name="TradgNm" type="TradingNameModification1" minOccurs="0"/>
      <xs:element name="CtryOfOpr" type="CountryCode"/>
      <xs:element name="RegnDt" type="ISODate" minOccurs="0"/>
      <xs:element name="OprlAdr" type="AddressModification2" minOccurs="0"/>
      <xs:element name="BizAdr" type="AddressModification2" minOccurs="0"/>
      <xs:element name="LglAdr" type="AddressModification2"/>
      <xs:element name="BllgAdr" type="AddressModification2" minOccurs="0"/>
      <xs:element name="OrgId" type="OrganisationIdentification29"/>
      <xs:element name="RprtvOffcr" type="PartyModification2" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="TrsrMgr" type="PartyModification2" minOccurs="0"/>
      <xs:element name="MainMndtHldr" type="PartyModification2" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Sndr" type="PartyModification2" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="LglRprtv" type="PartyModification2" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationModification2_CH_acmt015">
    <xs:complexContent>
      <xs:restriction base="OrganisationModification2">
        <xs:sequence>
          <xs:element name="FullLglNm" type="FullLegalNameModification1_CH_acmt015"/>
          <xs:element name="CtryOfOpr" type="CountryCode"/>
          <xs:element name="LglAdr" type="AddressModification2_CH_acmt015"/>
          <xs:element name="OrgId" type="OrganisationIdentification29"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OtherContact1">
    <xs:sequence>
      <xs:element name="ChanlTp" type="Max4Text"/>
      <xs:element name="Id" type="Max128Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Party38Choice">
    <xs:choice>
      <xs:element name="OrgId" type="OrganisationIdentification29"/>
      <xs:element name="PrvtId" type="PersonIdentification13"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PartyAndSignature3">
    <xs:sequence>
      <xs:element name="Pty" type="PartyIdentification135"/>
      <xs:element name="Sgntr" type="SkipPayload"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification135">
    <xs:sequence>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress24" minOccurs="0"/>
      <xs:element name="Id" type="Party38Choice" minOccurs="0"/>
      <xs:element name="CtryOfRes" type="CountryCode" minOccurs="0"/>
      <xs:element name="CtctDtls" type="Contact4" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification137">
    <xs:sequence>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress24" minOccurs="0"/>
      <xs:element name="Id" type="PersonIdentification13" minOccurs="0"/>
      <xs:element name="CtryOfRes" type="CountryCode" minOccurs="0"/>
      <xs:element name="CtctDtls" type="Contact4" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyModification2">
    <xs:sequence>
      <xs:element name="ModCd" type="Modification1Code" minOccurs="0"/>
      <xs:element name="PtyId" type="PartyIdentification137"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentification13">
    <xs:sequence>
      <xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth1" minOccurs="0"/>
      <xs:element name="Othr" type="GenericPersonIdentification1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentificationSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="PhoneNumber">
    <xs:restriction base="xs:string">
      <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PostalAddress24">
    <xs:sequence>
      <xs:element name="AdrTp" type="AddressType3Choice" minOccurs="0"/>
      <xs:element name="Dept" type="Max70Text" minOccurs="0"/>
      <xs:element name="SubDept" type="Max70Text" minOccurs="0"/>
      <xs:element name="StrtNm" type="Max70Text" minOccurs="0"/>
      <xs:element name="BldgNb" type="Max16Text" minOccurs="0"/>
      <xs:element name="BldgNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="Flr" type="Max70Text" minOccurs="0"/>
      <xs:element name="PstBx" type="Max16Text" minOccurs="0"/>
      <xs:element name="Room" type="Max70Text" minOccurs="0"/>
      <xs:element name="PstCd" type="Max16Text" minOccurs="0"/>
      <xs:element name="TwnNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="TwnLctnNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="DstrctNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0"/>
      <xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
      <xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PreferredContactMethod1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CELL"/>
      <xs:enumeration value="FAXX"/>
      <xs:enumeration value="LETT"/>
      <xs:enumeration value="MAIL"/>
      <xs:enumeration value="PHON"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PurposeModification1">
    <xs:sequence>
      <xs:element name="ModCd" type="Modification1Code" minOccurs="0"/>
      <xs:element name="Purp" type="Max140Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="References4">
    <xs:sequence>
      <xs:element name="MsgId" type="MessageIdentification1"/>
      <xs:element name="PrcId" type="MessageIdentification1"/>
      <xs:element name="AttchdDocNm" type="Max70Text" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="References4_CH_acmt015">
    <xs:complexContent>
      <xs:restriction base="References4">
        <xs:sequence>
          <xs:element name="MsgId" type="MessageIdentification1_CH_acmt015"/>
          <xs:element name="PrcId" type="MessageIdentification1"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Restriction1">
    <xs:sequence>
      <xs:element name="RstrctnTp" type="CodeOrProprietary1Choice"/>
      <xs:element name="VldFr" type="ISODateTime"/>
      <xs:element name="VldUntil" type="ISODateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Restriction1_CH_acmt015">
    <xs:complexContent>
      <xs:restriction base="Restriction1">
        <xs:sequence>
          <xs:element name="RstrctnTp" type="CodeOrProprietary1Choice"/>
          <xs:element name="VldFr" type="ISODateTime"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RestrictionModification1">
    <xs:sequence>
      <xs:element name="ModCd" type="Modification1Code" minOccurs="0"/>
      <xs:element name="Rstrctn" type="Restriction1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RestrictionModification1_CH_acmt015">
    <xs:complexContent>
      <xs:restriction base="RestrictionModification1">
        <xs:sequence>
          <xs:element name="ModCd" type="Modification1Code_CH_acmt015"/>
          <xs:element name="Rstrctn" type="Restriction1_CH_acmt015"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="SICText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}\p{IsLatinExtended-A}€ȘșȚț-[\p{C}]]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SkipPayload">
    <xs:sequence>
      <xs:any namespace="##any" processContents="skip"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatementFrequencyAndForm1">
    <xs:sequence>
      <xs:element name="Frqcy" type="Frequency7Code"/>
      <xs:element name="ComMtd" type="CommunicationMethod2Choice"/>
      <xs:element name="DlvryAdr" type="Max350Text"/>
      <xs:element name="Frmt" type="CommunicationFormat1Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatementFrequencyAndFormModification1">
    <xs:sequence>
      <xs:element name="ModCd" type="Modification1Code" minOccurs="0"/>
      <xs:element name="StmtFrqcyAndForm" type="StatementFrequencyAndForm1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SupplementaryData1">
    <xs:sequence>
      <xs:element name="PlcAndNm" type="Max350Text" minOccurs="0"/>
      <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SupplementaryDataEnvelope1">
    <xs:sequence>
      <xs:any namespace="##any" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TradingNameModification1">
    <xs:sequence>
      <xs:element name="ModCd" type="Modification1Code" minOccurs="0"/>
      <xs:element name="TradgNm" type="Max350Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TypeModification1">
    <xs:sequence>
      <xs:element name="ModCd" type="Modification1Code" minOccurs="0"/>
      <xs:element name="Tp" type="CashAccountType2Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="YesNoIndicator">
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
</xs:schema>
