backend/app/schemas_xsd/SIC/camt.003.001.07.ch.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
(C) Copyright 2022, SIX Interbank Clearing Ltd
XML Schema used in the Swiss Interbank space:
	Suffix part 1: .ch:	Identification as a Swiss (CH) version
	Suffix part 2: .02:	Version of this scheme

Based on ISO camt.003.001.07 (urn:iso:std:iso:20022:tech:xsd:camt.003.001.07)
-->
<xs:schema xmlns="http://www.six-interbank-clearing.com/de/camt.003.001.07.ch.02"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.six-interbank-clearing.com/de/camt.003.001.07.ch.02"
    elementFormDefault="qualified">
  <xs:element name="Document" type="Document_CH_camt003"/>
  <xs:complexType name="AccountCriteria3Choice">
    <xs:choice>
      <xs:element name="QryNm" type="Max35Text"/>
      <xs:element name="NewCrit" type="AccountCriteria7"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AccountCriteria3Choice_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="AccountCriteria3Choice">
        <xs:choice>
          <xs:element name="NewCrit" type="AccountCriteria7_CH_camt003"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AccountCriteria7">
    <xs:sequence>
      <xs:element name="NewQryNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="SchCrit" type="CashAccountSearchCriteria7" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="RtrCrit" type="CashAccountReturnCriteria5" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountCriteria7_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="AccountCriteria7">
        <xs:sequence>
          <xs:element name="NewQryNm" type="Max35Text"/>
          <xs:element name="SchCrit" type="CashAccountSearchCriteria7_CH_camt003"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AccountIdentification4Choice">
    <xs:choice>
      <xs:element name="IBAN" type="IBAN2007Identifier"/>
      <xs:element name="Othr" type="GenericAccountIdentification1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AccountIdentification4Choice_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="AccountIdentification4Choice">
        <xs:choice>
          <xs:element name="Othr" type="GenericAccountIdentification1_CH_camt003"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AccountIdentificationSearchCriteria2Choice">
    <xs:choice>
      <xs:element name="EQ" type="AccountIdentification4Choice"/>
      <xs:element name="CTTxt" type="Max35Text"/>
      <xs:element name="NCTTxt" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AccountIdentificationSearchCriteria2Choice_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="AccountIdentificationSearchCriteria2Choice">
        <xs:choice>
          <xs:element name="EQ" type="AccountIdentification4Choice_CH_camt003"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AccountQuery3">
    <xs:sequence>
      <xs:element name="QryTp" type="QueryType2Code" minOccurs="0"/>
      <xs:element name="AcctCrit" type="AccountCriteria3Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountQuery3_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="AccountQuery3">
        <xs:sequence>
          <xs:element name="AcctCrit" type="AccountCriteria3Choice_CH_camt003"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AccountSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="ActiveOrHistoricCurrencyCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AddressType2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADDR"/>
      <xs:enumeration value="BIZZ"/>
      <xs:enumeration value="DLVY"/>
      <xs:enumeration value="HOME"/>
      <xs:enumeration value="MLTO"/>
      <xs:enumeration value="PBOX"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AddressType3Choice">
    <xs:choice>
      <xs:element name="Cd" type="AddressType2Code"/>
      <xs:element name="Prtry" type="GenericIdentification30"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="AnyBICDec2014Identifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BalanceCounterparty1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BILA"/>
      <xs:enumeration value="MULT"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BalanceCounterparty1Code_CH_camt003">
    <xs:restriction base="BalanceCounterparty1Code">
      <xs:enumeration value="MULT"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BalanceType11Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalSystemBalanceType1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="BICFIDec2014Identifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification6">
    <xs:sequence>
      <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18"/>
      <xs:element name="BrnchId" type="BranchData3" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchData3">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text" minOccurs="0"/>
      <xs:element name="LEI" type="LEIIdentifier" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress24" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccountReturnCriteria5">
    <xs:sequence>
      <xs:element name="NmInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="CcyInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="TpInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="MulLmtInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="MulBalRtrCrit" type="CashBalanceReturnCriteria2" minOccurs="0"/>
      <xs:element name="BilLmtInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="BilBalRtrCrit" type="CashBalanceReturnCriteria2" minOccurs="0"/>
      <xs:element name="StgOrdrInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="AcctOwnrInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="AcctSvcrInd" type="RequestedIndicator" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccountSearchCriteria7">
    <xs:sequence>
      <xs:element name="AcctId" type="AccountIdentificationSearchCriteria2Choice" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Tp" type="CashAccountType2Choice" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Bal" type="CashBalance12" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AcctOwnr" type="PartyIdentification135" minOccurs="0"/>
      <xs:element name="AcctSvcr" type="BranchAndFinancialInstitutionIdentification6" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccountSearchCriteria7_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="CashAccountSearchCriteria7">
        <xs:sequence>
          <xs:element name="AcctId" type="AccountIdentificationSearchCriteria2Choice_CH_camt003" minOccurs="0"/>
          <xs:element name="Bal" type="CashBalance12_CH_camt003"/>
          <xs:element name="AcctOwnr" type="PartyIdentification135_CH_camt003"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CashAccountType2Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalCashAccountType1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="CashBalance12">
    <xs:sequence>
      <xs:element name="Tp" type="BalanceType11Choice" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CtrPtyTp" type="BalanceCounterparty1Code"/>
      <xs:element name="CtrPtyId" type="BranchAndFinancialInstitutionIdentification6" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ValDt" type="DateAndDateTimeSearch4Choice" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="PrcgDt" type="DateAndDateTimeSearch4Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashBalance12_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="CashBalance12">
        <xs:sequence>
          <xs:element name="CtrPtyTp" type="BalanceCounterparty1Code_CH_camt003"/>
          <xs:element name="ValDt" type="DateAndDateTimeSearch4Choice_CH_camt003"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CashBalanceReturnCriteria2">
    <xs:sequence>
      <xs:element name="TpInd" type="RequestedIndicator"/>
      <xs:element name="StsInd" type="RequestedIndicator"/>
      <xs:element name="ValDtInd" type="RequestedIndicator"/>
      <xs:element name="PrcgDtInd" type="RequestedIndicator"/>
      <xs:element name="NbOfPmtsInd" type="RequestedIndicator"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemIdentification2Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2">
    <xs:sequence>
      <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice" minOccurs="0"/>
      <xs:element name="MmbId" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Contact4">
    <xs:sequence>
      <xs:element name="NmPrfx" type="NamePrefix2Code" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PhneNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="MobNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="FaxNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="EmailAdr" type="Max2048Text" minOccurs="0"/>
      <xs:element name="EmailPurp" type="Max35Text" minOccurs="0"/>
      <xs:element name="JobTitl" type="Max35Text" minOccurs="0"/>
      <xs:element name="Rspnsblty" type="Max35Text" minOccurs="0"/>
      <xs:element name="Dept" type="Max70Text" minOccurs="0"/>
      <xs:element name="Othr" type="OtherContact1" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="PrefrdMtd" type="PreferredContactMethod1Code" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CountryCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DateAndDateTimeSearch4Choice">
    <xs:choice>
      <xs:element name="DtTm" type="DateTimeSearch2Choice"/>
      <xs:element name="Dt" type="DatePeriodSearch1Choice"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="DateAndDateTimeSearch4Choice_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="DateAndDateTimeSearch4Choice">
        <xs:choice>
          <xs:element name="Dt" type="DatePeriodSearch1Choice_CH_camt003"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DateAndPlaceOfBirth1">
    <xs:sequence>
      <xs:element name="BirthDt" type="ISODate"/>
      <xs:element name="PrvcOfBirth" type="Max35Text" minOccurs="0"/>
      <xs:element name="CityOfBirth" type="Max35Text"/>
      <xs:element name="CtryOfBirth" type="CountryCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatePeriod2">
    <xs:sequence>
      <xs:element name="FrDt" type="ISODate"/>
      <xs:element name="ToDt" type="ISODate"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatePeriodSearch1Choice">
    <xs:choice>
      <xs:element name="FrDt" type="ISODate"/>
      <xs:element name="ToDt" type="ISODate"/>
      <xs:element name="FrToDt" type="DatePeriod2"/>
      <xs:element name="EQDt" type="ISODate"/>
      <xs:element name="NEQDt" type="ISODate"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="DatePeriodSearch1Choice_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="DatePeriodSearch1Choice">
        <xs:choice>
          <xs:element name="EQDt" type="ISODate"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DateTimePeriod1">
    <xs:sequence>
      <xs:element name="FrDtTm" type="ISODateTime"/>
      <xs:element name="ToDtTm" type="ISODateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateTimeSearch2Choice">
    <xs:choice>
      <xs:element name="FrDtTm" type="ISODateTime"/>
      <xs:element name="ToDtTm" type="ISODateTime"/>
      <xs:element name="FrToDtTm" type="DateTimePeriod1"/>
      <xs:element name="EQDtTm" type="ISODateTime"/>
      <xs:element name="NEQDtTm" type="ISODateTime"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="GetAcct" type="GetAccountV07"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="Document">
        <xs:sequence>
          <xs:element name="GetAcct" type="GetAccountV07_CH_camt003"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="Exact4AlphaNumericText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z0-9]{4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalAccountIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalCashAccountType1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalClearingSystemIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalEnquiryRequestType1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalOrganisationIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalPaymentControlRequestType1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalPersonIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalSystemBalanceType1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FinancialIdentificationSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification18">
    <xs:sequence>
      <xs:element name="BICFI" type="BICFIDec2014Identifier" minOccurs="0"/>
      <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2" minOccurs="0"/>
      <xs:element name="LEI" type="LEIIdentifier" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress24" minOccurs="0"/>
      <xs:element name="Othr" type="GenericFinancialIdentification1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericAccountIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max34Text"/>
      <xs:element name="SchmeNm" type="AccountSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericAccountIdentification1_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="GenericAccountIdentification1">
        <xs:sequence>
          <xs:element name="Id" type="Max34Text"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericFinancialIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="FinancialIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericIdentification1_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="GenericIdentification1">
        <xs:sequence>
          <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericIdentification30">
    <xs:sequence>
      <xs:element name="Id" type="Exact4AlphaNumericText"/>
      <xs:element name="Issr" type="Max35Text"/>
      <xs:element name="SchmeNm" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericOrganisationIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericOrganisationIdentification1_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="GenericOrganisationIdentification1">
        <xs:sequence>
          <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericPersonIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetAccountV07">
    <xs:sequence>
      <xs:element name="MsgHdr" type="MessageHeader9"/>
      <xs:element name="AcctQryDef" type="AccountQuery3" minOccurs="0"/>
      <xs:element name="SplmtryData" type="SupplementaryData1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetAccountV07_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="GetAccountV07">
        <xs:sequence>
          <xs:element name="MsgHdr" type="MessageHeader9_CH_camt003"/>
          <xs:element name="AcctQryDef" type="AccountQuery3_CH_camt003"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="IBAN2007Identifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="LEIIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max128Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="128"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max140Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="140"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max16Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max2048Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="2048"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max34Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="34"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max350Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="350"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_CH_camt003">
    <xs:restriction base="Max35Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="[A-Za-z0-9+?/:()\.,&apos;\-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max4Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max70Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MessageHeader9">
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text"/>
      <xs:element name="CreDtTm" type="ISODateTime" minOccurs="0"/>
      <xs:element name="ReqTp" type="RequestType4Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageHeader9_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="MessageHeader9">
        <xs:sequence>
          <xs:element name="MsgId" type="Max35Text_CH_camt003"/>
          <xs:element name="CreDtTm" type="ISODateTime"/>
          <xs:element name="ReqTp" type="RequestType4Choice_CH_camt003"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="NamePrefix2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DOCT"/>
      <xs:enumeration value="MADM"/>
      <xs:enumeration value="MIKS"/>
      <xs:enumeration value="MISS"/>
      <xs:enumeration value="MIST"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OrganisationIdentification29">
    <xs:sequence>
      <xs:element name="AnyBIC" type="AnyBICDec2014Identifier" minOccurs="0"/>
      <xs:element name="LEI" type="LEIIdentifier" minOccurs="0"/>
      <xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentification29_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="OrganisationIdentification29">
        <xs:sequence>
          <xs:element name="AnyBIC" type="AnyBICDec2014Identifier" minOccurs="0"/>
          <xs:element name="Othr" type="GenericOrganisationIdentification1_CH_camt003" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentificationSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="OtherContact1">
    <xs:sequence>
      <xs:element name="ChanlTp" type="Max4Text"/>
      <xs:element name="Id" type="Max128Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Party38Choice">
    <xs:choice>
      <xs:element name="OrgId" type="OrganisationIdentification29"/>
      <xs:element name="PrvtId" type="PersonIdentification13"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Party38Choice_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="Party38Choice">
        <xs:choice>
          <xs:element name="OrgId" type="OrganisationIdentification29_CH_camt003"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyIdentification135">
    <xs:sequence>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress24" minOccurs="0"/>
      <xs:element name="Id" type="Party38Choice" minOccurs="0"/>
      <xs:element name="CtryOfRes" type="CountryCode" minOccurs="0"/>
      <xs:element name="CtctDtls" type="Contact4" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification135_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="PartyIdentification135">
        <xs:sequence>
          <xs:element name="Id" type="Party38Choice_CH_camt003"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonIdentification13">
    <xs:sequence>
      <xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth1" minOccurs="0"/>
      <xs:element name="Othr" type="GenericPersonIdentification1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentificationSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="PhoneNumber">
    <xs:restriction base="xs:string">
      <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PostalAddress24">
    <xs:sequence>
      <xs:element name="AdrTp" type="AddressType3Choice" minOccurs="0"/>
      <xs:element name="Dept" type="Max70Text" minOccurs="0"/>
      <xs:element name="SubDept" type="Max70Text" minOccurs="0"/>
      <xs:element name="StrtNm" type="Max70Text" minOccurs="0"/>
      <xs:element name="BldgNb" type="Max16Text" minOccurs="0"/>
      <xs:element name="BldgNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="Flr" type="Max70Text" minOccurs="0"/>
      <xs:element name="PstBx" type="Max16Text" minOccurs="0"/>
      <xs:element name="Room" type="Max70Text" minOccurs="0"/>
      <xs:element name="PstCd" type="Max16Text" minOccurs="0"/>
      <xs:element name="TwnNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="TwnLctnNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="DstrctNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0"/>
      <xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
      <xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PreferredContactMethod1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CELL"/>
      <xs:enumeration value="FAXX"/>
      <xs:enumeration value="LETT"/>
      <xs:enumeration value="MAIL"/>
      <xs:enumeration value="PHON"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="QueryType2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ALLL"/>
      <xs:enumeration value="CHNG"/>
      <xs:enumeration value="DELD"/>
      <xs:enumeration value="MODF"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RequestedIndicator">
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:complexType name="RequestType4Choice">
    <xs:choice>
      <xs:element name="PmtCtrl" type="ExternalPaymentControlRequestType1Code"/>
      <xs:element name="Enqry" type="ExternalEnquiryRequestType1Code"/>
      <xs:element name="Prtry" type="GenericIdentification1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="RequestType4Choice_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="RequestType4Choice">
        <xs:choice>
          <xs:element name="Prtry" type="GenericIdentification1_CH_camt003"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="SICText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}\p{IsLatinExtended-A}€ȘșȚț-[\p{C}]]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SupplementaryData1">
    <xs:sequence>
      <xs:element name="PlcAndNm" type="Max350Text" minOccurs="0"/>
      <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SupplementaryDataEnvelope1">
    <xs:sequence>
      <xs:any namespace="##any" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
