backend/app/schemas_xsd/SIC/camt.025.001.05.ch.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
(C) Copyright 2023, SIX Interbank Clearing Ltd
XML Schema used in the Swiss Interbank space:
	Suffix part 1: .ch:	Identification as a Swiss (CH) version
	Suffix part 2: .02:   Version of this scheme

Based on ISO camt.025.001.05 (urn:iso:std:iso:20022:tech:xsd:camt.025.001.05)
-->
<xs:schema xmlns="http://www.six-interbank-clearing.com/de/camt.025.001.05.ch.02"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.six-interbank-clearing.com/de/camt.025.001.05.ch.02"
    elementFormDefault="qualified">
  <xs:element name="Document" type="Document_CH_camt025"/>
  <xs:simpleType name="AddressType2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADDR"/>
      <xs:enumeration value="BIZZ"/>
      <xs:enumeration value="DLVY"/>
      <xs:enumeration value="HOME"/>
      <xs:enumeration value="MLTO"/>
      <xs:enumeration value="PBOX"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AddressType3Choice">
    <xs:choice>
      <xs:element name="Cd" type="AddressType2Code"/>
      <xs:element name="Prtry" type="GenericIdentification30"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="BICFIDec2014Identifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification6">
    <xs:sequence>
      <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18"/>
      <xs:element name="BrnchId" type="BranchData3" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchData3">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text" minOccurs="0"/>
      <xs:element name="LEI" type="LEIIdentifier" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress24" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemIdentification2Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2">
    <xs:sequence>
      <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice" minOccurs="0"/>
      <xs:element name="MmbId" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CountryCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="Rct" type="ReceiptV05"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document_CH_camt025">
    <xs:complexContent>
      <xs:restriction base="Document">
        <xs:sequence>
          <xs:element name="Rct" type="ReceiptV05_CH_camt025"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="EntryTypeIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[BEOVW]{1,1}[0-9]{2,2}|DUM"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Exact4AlphaNumericText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z0-9]{4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalClearingSystemIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalEnquiryRequestType1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalPaymentControlRequestType1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FinancialIdentificationSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification18">
    <xs:sequence>
      <xs:element name="BICFI" type="BICFIDec2014Identifier" minOccurs="0"/>
      <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2" minOccurs="0"/>
      <xs:element name="LEI" type="LEIIdentifier" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress24" minOccurs="0"/>
      <xs:element name="Othr" type="GenericFinancialIdentification1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericFinancialIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="FinancialIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericIdentification1_CH_camt025">
    <xs:complexContent>
      <xs:restriction base="GenericIdentification1">
        <xs:sequence>
          <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericIdentification30">
    <xs:sequence>
      <xs:element name="Id" type="Exact4AlphaNumericText"/>
      <xs:element name="Issr" type="Max35Text"/>
      <xs:element name="SchmeNm" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ImpliedCurrencyAndAmount">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="LEIIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="LongPaymentIdentification2">
    <xs:sequence>
      <xs:element name="TxId" type="Max35Text" minOccurs="0"/>
      <xs:element name="UETR" type="UUIDv4Identifier" minOccurs="0"/>
      <xs:element name="IntrBkSttlmAmt" type="ImpliedCurrencyAndAmount"/>
      <xs:element name="IntrBkSttlmDt" type="ISODate"/>
      <xs:element name="PmtMtd" type="PaymentOrigin1Choice" minOccurs="0"/>
      <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification6"/>
      <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification6"/>
      <xs:element name="NtryTp" type="EntryTypeIdentifier" minOccurs="0"/>
      <xs:element name="EndToEndId" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Max140Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="140"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max16Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max350Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="350"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_CH_camt025">
    <xs:restriction base="Max35Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="[A-Za-z0-9+?/:()\.,&apos;\-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max3NumericText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max4AlphaNumericText">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
      <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max70Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MessageHeader9">
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text"/>
      <xs:element name="CreDtTm" type="ISODateTime" minOccurs="0"/>
      <xs:element name="ReqTp" type="RequestType4Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageHeader9_CH_camt025">
    <xs:complexContent>
      <xs:restriction base="MessageHeader9">
        <xs:sequence>
          <xs:element name="MsgId" type="Max35Text_CH_camt025"/>
          <xs:element name="CreDtTm" type="ISODateTime"/>
          <xs:element name="ReqTp" type="RequestType4Choice_CH_camt025"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OriginalMessageAndIssuer1">
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text"/>
      <xs:element name="MsgNmId" type="Max35Text" minOccurs="0"/>
      <xs:element name="OrgtrNm" type="Max70Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginalMessageAndIssuer1_CH_camt025">
    <xs:complexContent>
      <xs:restriction base="OriginalMessageAndIssuer1">
        <xs:sequence>
          <xs:element name="MsgId" type="Max35Text_CH_camt025"/>
          <xs:element name="MsgNmId" type="Max35Text"/>
          <xs:element name="OrgtrNm" type="Max70Text" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PaymentIdentification6Choice">
    <xs:choice>
      <xs:element name="TxId" type="Max35Text"/>
      <xs:element name="QId" type="QueueTransactionIdentification1"/>
      <xs:element name="LngBizId" type="LongPaymentIdentification2"/>
      <xs:element name="ShrtBizId" type="ShortPaymentIdentification2"/>
      <xs:element name="PrtryId" type="Max70Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="PaymentInstrument1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BCT"/>
      <xs:enumeration value="BDT"/>
      <xs:enumeration value="BKT"/>
      <xs:enumeration value="CAN"/>
      <xs:enumeration value="CCP"/>
      <xs:enumeration value="CCT"/>
      <xs:enumeration value="CDT"/>
      <xs:enumeration value="CHK"/>
      <xs:enumeration value="DCP"/>
      <xs:enumeration value="RTI"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PaymentOrigin1Choice">
    <xs:choice>
      <xs:element name="FINMT" type="Max3NumericText"/>
      <xs:element name="XMLMsgNm" type="Max35Text"/>
      <xs:element name="Prtry" type="Max35Text"/>
      <xs:element name="Instrm" type="PaymentInstrument1Code"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PostalAddress24">
    <xs:sequence>
      <xs:element name="AdrTp" type="AddressType3Choice" minOccurs="0"/>
      <xs:element name="Dept" type="Max70Text" minOccurs="0"/>
      <xs:element name="SubDept" type="Max70Text" minOccurs="0"/>
      <xs:element name="StrtNm" type="Max70Text" minOccurs="0"/>
      <xs:element name="BldgNb" type="Max16Text" minOccurs="0"/>
      <xs:element name="BldgNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="Flr" type="Max70Text" minOccurs="0"/>
      <xs:element name="PstBx" type="Max16Text" minOccurs="0"/>
      <xs:element name="Room" type="Max70Text" minOccurs="0"/>
      <xs:element name="PstCd" type="Max16Text" minOccurs="0"/>
      <xs:element name="TwnNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="TwnLctnNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="DstrctNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0"/>
      <xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
      <xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueueTransactionIdentification1">
    <xs:sequence>
      <xs:element name="QId" type="Max16Text"/>
      <xs:element name="PosInQ" type="Max16Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Receipt3">
    <xs:sequence>
      <xs:element name="OrgnlMsgId" type="OriginalMessageAndIssuer1"/>
      <xs:element name="OrgnlPmtId" type="PaymentIdentification6Choice" minOccurs="0"/>
      <xs:element name="ReqHdlg" type="RequestHandling1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Receipt3_CH_camt025">
    <xs:complexContent>
      <xs:restriction base="Receipt3">
        <xs:sequence>
          <xs:element name="OrgnlMsgId" type="OriginalMessageAndIssuer1_CH_camt025"/>
          <xs:element name="ReqHdlg" type="RequestHandling1" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ReceiptV05">
    <xs:sequence>
      <xs:element name="MsgHdr" type="MessageHeader9"/>
      <xs:element name="RctDtls" type="Receipt3" maxOccurs="unbounded"/>
      <xs:element name="SplmtryData" type="SupplementaryData1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReceiptV05_CH_camt025">
    <xs:complexContent>
      <xs:restriction base="ReceiptV05">
        <xs:sequence>
          <xs:element name="MsgHdr" type="MessageHeader9_CH_camt025"/>
          <xs:element name="RctDtls" type="Receipt3_CH_camt025"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RequestHandling1">
    <xs:sequence>
      <xs:element name="StsCd" type="Max4AlphaNumericText"/>
      <xs:element name="Desc" type="Max140Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RequestType4Choice">
    <xs:choice>
      <xs:element name="PmtCtrl" type="ExternalPaymentControlRequestType1Code"/>
      <xs:element name="Enqry" type="ExternalEnquiryRequestType1Code"/>
      <xs:element name="Prtry" type="GenericIdentification1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="RequestType4Choice_CH_camt025">
    <xs:complexContent>
      <xs:restriction base="RequestType4Choice">
        <xs:choice>
          <xs:element name="Prtry" type="GenericIdentification1_CH_camt025"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ShortPaymentIdentification2">
    <xs:sequence>
      <xs:element name="TxId" type="Max35Text"/>
      <xs:element name="IntrBkSttlmDt" type="ISODate"/>
      <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification6"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SICText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}\p{IsLatinExtended-A}€ȘșȚț-[\p{C}]]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SupplementaryData1">
    <xs:sequence>
      <xs:element name="PlcAndNm" type="Max350Text" minOccurs="0"/>
      <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SupplementaryDataEnvelope1">
    <xs:sequence>
      <xs:any namespace="##any" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="UUIDv4Identifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
