backend/app/schemas_xsd/SIC/camt.004.001.08.ch.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
(C) Copyright 2022, SIX Interbank Clearing Ltd
XML Schema used in the Swiss Interbank space:
	Suffix part 1: .ch:	Identification as a Swiss (CH) version
	Suffix part 2: .02:	Version of this scheme

Based on ISO camt.004.001.08 (urn:iso:std:iso:20022:tech:xsd:camt.004.001.08)
-->
<xs:schema xmlns="http://www.six-interbank-clearing.com/de/camt.004.001.08.ch.02"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.six-interbank-clearing.com/de/camt.004.001.08.ch.02"
    elementFormDefault="qualified">
  <xs:element name="Document" type="Document_CH_camt004"/>
  <xs:complexType name="AccountIdentification4Choice">
    <xs:choice>
      <xs:element name="IBAN" type="IBAN2007Identifier"/>
      <xs:element name="Othr" type="GenericAccountIdentification1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AccountIdentification4Choice_CH_camt004">
    <xs:complexContent>
      <xs:restriction base="AccountIdentification4Choice">
        <xs:choice>
          <xs:element name="Othr" type="GenericAccountIdentification1_CH_camt004"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AccountOrBusinessError4Choice">
    <xs:choice>
      <xs:element name="Acct" type="CashAccount37"/>
      <xs:element name="BizErr" type="ErrorHandling5" maxOccurs="unbounded"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AccountOrBusinessError4Choice_CH_camt004">
    <xs:complexContent>
      <xs:restriction base="AccountOrBusinessError4Choice">
        <xs:choice>
          <xs:element name="Acct" type="CashAccount37_CH_camt004"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AccountOrOperationalError4Choice">
    <xs:choice>
      <xs:element name="AcctRpt" type="AccountReport24" maxOccurs="unbounded"/>
      <xs:element name="OprlErr" type="ErrorHandling5" maxOccurs="unbounded"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AccountOrOperationalError4Choice_CH_camt004">
    <xs:complexContent>
      <xs:restriction base="AccountOrOperationalError4Choice">
        <xs:choice>
          <xs:element name="AcctRpt" type="AccountReport24_CH_camt004" maxOccurs="unbounded"/>
          <xs:element name="OprlErr" type="ErrorHandling5_CH_camt004"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AccountReport24">
    <xs:sequence>
      <xs:element name="AcctId" type="AccountIdentification4Choice"/>
      <xs:element name="AcctOrErr" type="AccountOrBusinessError4Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountReport24_CH_camt004">
    <xs:complexContent>
      <xs:restriction base="AccountReport24">
        <xs:sequence>
          <xs:element name="AcctId" type="AccountIdentification4Choice_CH_camt004"/>
          <xs:element name="AcctOrErr" type="AccountOrBusinessError4Choice_CH_camt004"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AccountSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ActiveCurrencyAndAmount">
    <xs:simpleContent>
      <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
        <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ActiveCurrencyCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ActiveOrHistoricCurrencyCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AddressType2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADDR"/>
      <xs:enumeration value="BIZZ"/>
      <xs:enumeration value="DLVY"/>
      <xs:enumeration value="HOME"/>
      <xs:enumeration value="MLTO"/>
      <xs:enumeration value="PBOX"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AddressType3Choice">
    <xs:choice>
      <xs:element name="Cd" type="AddressType2Code"/>
      <xs:element name="Prtry" type="GenericIdentification30"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Amount2Choice">
    <xs:choice>
      <xs:element name="AmtWthtCcy" type="ImpliedCurrencyAndAmount"/>
      <xs:element name="AmtWthCcy" type="ActiveCurrencyAndAmount"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="AnyBICDec2014Identifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BalanceRestrictionType1">
    <xs:sequence>
      <xs:element name="Tp" type="GenericIdentification1"/>
      <xs:element name="Desc" type="Max140Text" minOccurs="0"/>
      <xs:element name="PrcgTp" type="ProcessingType1Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="BalanceStatus1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PDNG"/>
      <xs:enumeration value="STLD"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BalanceType11Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalSystemBalanceType1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="BalanceType9Choice">
    <xs:choice>
      <xs:element name="Cd" type="SystemBalanceType2Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="BICFIDec2014Identifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BilateralLimit3">
    <xs:sequence>
      <xs:element name="CtrPtyId" type="BranchAndFinancialInstitutionIdentification6"/>
      <xs:element name="LmtAmt" type="Amount2Choice"/>
      <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
      <xs:element name="BilBal" type="CashBalance11" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification6">
    <xs:sequence>
      <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18"/>
      <xs:element name="BrnchId" type="BranchData3" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchData3">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text" minOccurs="0"/>
      <xs:element name="LEI" type="LEIIdentifier" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress24" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccount37">
    <xs:sequence>
      <xs:element name="Nm" type="Max70Text" minOccurs="0"/>
      <xs:element name="Tp" type="CashAccountType2Choice" minOccurs="0"/>
      <xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode" minOccurs="0"/>
      <xs:element name="Prxy" type="ProxyAccountIdentification1" minOccurs="0"/>
      <xs:element name="CurMulLmt" type="Limit5" minOccurs="0"/>
      <xs:element name="Ownr" type="PartyIdentification135" minOccurs="0"/>
      <xs:element name="Svcr" type="BranchAndFinancialInstitutionIdentification6" minOccurs="0"/>
      <xs:element name="MulBal" type="CashBalance13" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CurBilLmt" type="BilateralLimit3" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="StgOrdr" type="StandingOrder6" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccount37_CH_camt004">
    <xs:complexContent>
      <xs:restriction base="CashAccount37">
        <xs:sequence>
          <xs:element name="Nm" type="Max70Text" minOccurs="0"/>
          <xs:element name="Tp" type="CashAccountType2Choice_CH_camt004" minOccurs="0"/>
          <xs:element name="MulBal" type="CashBalance13_CH_camt004" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CashAccount38">
    <xs:sequence>
      <xs:element name="Id" type="AccountIdentification4Choice"/>
      <xs:element name="Tp" type="CashAccountType2Choice" minOccurs="0"/>
      <xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode" minOccurs="0"/>
      <xs:element name="Nm" type="Max70Text" minOccurs="0"/>
      <xs:element name="Prxy" type="ProxyAccountIdentification1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccountType2Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalCashAccountType1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="CashAccountType2Choice_CH_camt004">
    <xs:complexContent>
      <xs:restriction base="CashAccountType2Choice">
        <xs:choice>
          <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CashBalance11">
    <xs:sequence>
      <xs:element name="Amt" type="ImpliedCurrencyAndAmount"/>
      <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
      <xs:element name="Tp" type="BalanceType9Choice" minOccurs="0"/>
      <xs:element name="Sts" type="BalanceStatus1Code" minOccurs="0"/>
      <xs:element name="ValDt" type="DateAndDateTime2Choice" minOccurs="0"/>
      <xs:element name="NbOfPmts" type="Number" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashBalance13">
    <xs:sequence>
      <xs:element name="Amt" type="ImpliedCurrencyAndAmount"/>
      <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
      <xs:element name="Tp" type="BalanceType11Choice" minOccurs="0"/>
      <xs:element name="Sts" type="BalanceStatus1Code" minOccurs="0"/>
      <xs:element name="ValDt" type="DateAndDateTime2Choice" minOccurs="0"/>
      <xs:element name="PrcgDt" type="DateAndDateTime2Choice" minOccurs="0"/>
      <xs:element name="NbOfPmts" type="Number" minOccurs="0"/>
      <xs:element name="RstrctnTp" type="BalanceRestrictionType1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashBalance13_CH_camt004">
    <xs:complexContent>
      <xs:restriction base="CashBalance13">
        <xs:sequence>
          <xs:element name="Amt" type="ImpliedCurrencyAndAmount"/>
          <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
          <xs:element name="Tp" type="BalanceType11Choice"/>
          <xs:element name="Sts" type="BalanceStatus1Code" minOccurs="0"/>
          <xs:element name="ValDt" type="DateAndDateTime2Choice_CH_camt004"/>
          <xs:element name="PrcgDt" type="DateAndDateTime2Choice" minOccurs="0"/>
          <xs:element name="NbOfPmts" type="Number" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ClearingSystemIdentification2Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2">
    <xs:sequence>
      <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice" minOccurs="0"/>
      <xs:element name="MmbId" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Contact4">
    <xs:sequence>
      <xs:element name="NmPrfx" type="NamePrefix2Code" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PhneNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="MobNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="FaxNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="EmailAdr" type="Max2048Text" minOccurs="0"/>
      <xs:element name="EmailPurp" type="Max35Text" minOccurs="0"/>
      <xs:element name="JobTitl" type="Max35Text" minOccurs="0"/>
      <xs:element name="Rspnsblty" type="Max35Text" minOccurs="0"/>
      <xs:element name="Dept" type="Max70Text" minOccurs="0"/>
      <xs:element name="Othr" type="OtherContact1" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="PrefrdMtd" type="PreferredContactMethod1Code" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CountryCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CreditDebitCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CRDT"/>
      <xs:enumeration value="DBIT"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DateAndDateTime2Choice">
    <xs:choice>
      <xs:element name="Dt" type="ISODate"/>
      <xs:element name="DtTm" type="ISODateTime"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="DateAndDateTime2Choice_CH_camt004">
    <xs:complexContent>
      <xs:restriction base="DateAndDateTime2Choice">
        <xs:choice>
          <xs:element name="Dt" type="ISODate"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DateAndPlaceOfBirth1">
    <xs:sequence>
      <xs:element name="BirthDt" type="ISODate"/>
      <xs:element name="PrvcOfBirth" type="Max35Text" minOccurs="0"/>
      <xs:element name="CityOfBirth" type="Max35Text"/>
      <xs:element name="CtryOfBirth" type="CountryCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatePeriodDetails1">
    <xs:sequence>
      <xs:element name="FrDt" type="ISODate"/>
      <xs:element name="ToDt" type="ISODate" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="RtrAcct" type="ReturnAccountV08"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document_CH_camt004">
    <xs:complexContent>
      <xs:restriction base="Document">
        <xs:sequence>
          <xs:element name="RtrAcct" type="ReturnAccountV08_CH_camt004"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ErrorHandling3Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalSystemErrorHandling1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ErrorHandling3Choice_CH_camt004">
    <xs:complexContent>
      <xs:restriction base="ErrorHandling3Choice">
        <xs:choice>
          <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ErrorHandling5">
    <xs:sequence>
      <xs:element name="Err" type="ErrorHandling3Choice"/>
      <xs:element name="Desc" type="Max140Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorHandling5_CH_camt004">
    <xs:complexContent>
      <xs:restriction base="ErrorHandling5">
        <xs:sequence>
          <xs:element name="Err" type="ErrorHandling3Choice_CH_camt004"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EventType1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalSystemEventType1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="Exact4AlphaNumericText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z0-9]{4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ExecutionType1Choice">
    <xs:choice>
      <xs:element name="Tm" type="ISOTime"/>
      <xs:element name="Evt" type="EventType1Choice"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="ExternalAccountIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalCashAccountType1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalClearingSystemIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalEnquiryRequestType1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalOrganisationIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalPaymentControlRequestType1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalPersonIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalProxyAccountType1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalSystemBalanceType1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalSystemErrorHandling1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalSystemEventType1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FinancialIdentificationSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification18">
    <xs:sequence>
      <xs:element name="BICFI" type="BICFIDec2014Identifier" minOccurs="0"/>
      <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2" minOccurs="0"/>
      <xs:element name="LEI" type="LEIIdentifier" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress24" minOccurs="0"/>
      <xs:element name="Othr" type="GenericFinancialIdentification1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Frequency2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADHO"/>
      <xs:enumeration value="DAIL"/>
      <xs:enumeration value="INDA"/>
      <xs:enumeration value="MIAN"/>
      <xs:enumeration value="MNTH"/>
      <xs:enumeration value="OVNG"/>
      <xs:enumeration value="QURT"/>
      <xs:enumeration value="WEEK"/>
      <xs:enumeration value="YEAR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="GenericAccountIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max34Text"/>
      <xs:element name="SchmeNm" type="AccountSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericAccountIdentification1_CH_camt004">
    <xs:complexContent>
      <xs:restriction base="GenericAccountIdentification1">
        <xs:sequence>
          <xs:element name="Id" type="Max34Text"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericFinancialIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="FinancialIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericIdentification1_CH_camt004">
    <xs:complexContent>
      <xs:restriction base="GenericIdentification1">
        <xs:sequence>
          <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericIdentification30">
    <xs:sequence>
      <xs:element name="Id" type="Exact4AlphaNumericText"/>
      <xs:element name="Issr" type="Max35Text"/>
      <xs:element name="SchmeNm" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericOrganisationIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericPersonIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="IBAN2007Identifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ImpliedCurrencyAndAmount">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="ISOTime">
    <xs:restriction base="xs:time"/>
  </xs:simpleType>
  <xs:simpleType name="LEIIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Limit5">
    <xs:sequence>
      <xs:element name="Amt" type="Amount2Choice"/>
      <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Max128Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="128"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max140Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="140"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max16Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max2048Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="2048"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max34Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="34"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max350Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="350"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_CH_camt004">
    <xs:restriction base="Max35Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="[A-Za-z0-9+?/:()\.,&apos;\-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max4Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max70Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MessageHeader7">
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text"/>
      <xs:element name="CreDtTm" type="ISODateTime" minOccurs="0"/>
      <xs:element name="ReqTp" type="RequestType4Choice" minOccurs="0"/>
      <xs:element name="OrgnlBizQry" type="OriginalBusinessQuery1" minOccurs="0"/>
      <xs:element name="QryNm" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageHeader7_CH_camt004">
    <xs:complexContent>
      <xs:restriction base="MessageHeader7">
        <xs:sequence>
          <xs:element name="MsgId" type="Max35Text_CH_camt004"/>
          <xs:element name="CreDtTm" type="ISODateTime"/>
          <xs:element name="ReqTp" type="RequestType4Choice_CH_camt004"/>
          <xs:element name="OrgnlBizQry" type="OriginalBusinessQuery1_CH_camt004" minOccurs="0"/>
          <xs:element name="QryNm" type="Max35Text"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="NamePrefix2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DOCT"/>
      <xs:enumeration value="MADM"/>
      <xs:enumeration value="MIKS"/>
      <xs:enumeration value="MISS"/>
      <xs:enumeration value="MIST"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Number">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OrganisationIdentification29">
    <xs:sequence>
      <xs:element name="AnyBIC" type="AnyBICDec2014Identifier" minOccurs="0"/>
      <xs:element name="LEI" type="LEIIdentifier" minOccurs="0"/>
      <xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentificationSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="OriginalBusinessQuery1">
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text"/>
      <xs:element name="MsgNmId" type="Max35Text" minOccurs="0"/>
      <xs:element name="CreDtTm" type="ISODateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginalBusinessQuery1_CH_camt004">
    <xs:complexContent>
      <xs:restriction base="OriginalBusinessQuery1">
        <xs:sequence>
          <xs:element name="MsgId" type="Max35Text_CH_camt004"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OtherContact1">
    <xs:sequence>
      <xs:element name="ChanlTp" type="Max4Text"/>
      <xs:element name="Id" type="Max128Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Party38Choice">
    <xs:choice>
      <xs:element name="OrgId" type="OrganisationIdentification29"/>
      <xs:element name="PrvtId" type="PersonIdentification13"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PartyIdentification135">
    <xs:sequence>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress24" minOccurs="0"/>
      <xs:element name="Id" type="Party38Choice" minOccurs="0"/>
      <xs:element name="CtryOfRes" type="CountryCode" minOccurs="0"/>
      <xs:element name="CtctDtls" type="Contact4" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentification13">
    <xs:sequence>
      <xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth1" minOccurs="0"/>
      <xs:element name="Othr" type="GenericPersonIdentification1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentificationSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="PhoneNumber">
    <xs:restriction base="xs:string">
      <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PostalAddress24">
    <xs:sequence>
      <xs:element name="AdrTp" type="AddressType3Choice" minOccurs="0"/>
      <xs:element name="Dept" type="Max70Text" minOccurs="0"/>
      <xs:element name="SubDept" type="Max70Text" minOccurs="0"/>
      <xs:element name="StrtNm" type="Max70Text" minOccurs="0"/>
      <xs:element name="BldgNb" type="Max16Text" minOccurs="0"/>
      <xs:element name="BldgNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="Flr" type="Max70Text" minOccurs="0"/>
      <xs:element name="PstBx" type="Max16Text" minOccurs="0"/>
      <xs:element name="Room" type="Max70Text" minOccurs="0"/>
      <xs:element name="PstCd" type="Max16Text" minOccurs="0"/>
      <xs:element name="TwnNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="TwnLctnNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="DstrctNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0"/>
      <xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
      <xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PreferredContactMethod1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CELL"/>
      <xs:enumeration value="FAXX"/>
      <xs:enumeration value="LETT"/>
      <xs:enumeration value="MAIL"/>
      <xs:enumeration value="PHON"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ProcessingType1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ProcessingType1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="ProcessingType1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BLCK"/>
      <xs:enumeration value="COLD"/>
      <xs:enumeration value="CSDB"/>
      <xs:enumeration value="CVHD"/>
      <xs:enumeration value="DLVR"/>
      <xs:enumeration value="EARM"/>
      <xs:enumeration value="EFAC"/>
      <xs:enumeration value="RJCT"/>
      <xs:enumeration value="RSVT"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ProxyAccountIdentification1">
    <xs:sequence>
      <xs:element name="Tp" type="ProxyAccountType1Choice" minOccurs="0"/>
      <xs:element name="Id" type="Max2048Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProxyAccountType1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalProxyAccountType1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="RequestType4Choice">
    <xs:choice>
      <xs:element name="PmtCtrl" type="ExternalPaymentControlRequestType1Code"/>
      <xs:element name="Enqry" type="ExternalEnquiryRequestType1Code"/>
      <xs:element name="Prtry" type="GenericIdentification1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="RequestType4Choice_CH_camt004">
    <xs:complexContent>
      <xs:restriction base="RequestType4Choice">
        <xs:choice>
          <xs:element name="Prtry" type="GenericIdentification1_CH_camt004"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ReturnAccountV08">
    <xs:sequence>
      <xs:element name="MsgHdr" type="MessageHeader7"/>
      <xs:element name="RptOrErr" type="AccountOrOperationalError4Choice"/>
      <xs:element name="SplmtryData" type="SupplementaryData1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReturnAccountV08_CH_camt004">
    <xs:complexContent>
      <xs:restriction base="ReturnAccountV08">
        <xs:sequence>
          <xs:element name="MsgHdr" type="MessageHeader7_CH_camt004"/>
          <xs:element name="RptOrErr" type="AccountOrOperationalError4Choice_CH_camt004"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="SICText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}\p{IsLatinExtended-A}€ȘșȚț-[\p{C}]]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="StandingOrder6">
    <xs:sequence>
      <xs:element name="Amt" type="Amount2Choice"/>
      <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
      <xs:element name="Ccy" type="ActiveCurrencyCode" minOccurs="0"/>
      <xs:element name="Tp" type="StandingOrderType1Choice" minOccurs="0"/>
      <xs:element name="AssoctdPoolAcct" type="AccountIdentification4Choice" minOccurs="0"/>
      <xs:element name="Ref" type="Max35Text" minOccurs="0"/>
      <xs:element name="Frqcy" type="Frequency2Code" minOccurs="0"/>
      <xs:element name="VldtyPrd" type="DatePeriodDetails1" minOccurs="0"/>
      <xs:element name="SysMmb" type="BranchAndFinancialInstitutionIdentification6" minOccurs="0"/>
      <xs:element name="RspnsblPty" type="BranchAndFinancialInstitutionIdentification6" minOccurs="0"/>
      <xs:element name="LkSetId" type="Max35Text" minOccurs="0"/>
      <xs:element name="LkSetOrdrId" type="Max35Text" minOccurs="0"/>
      <xs:element name="LkSetOrdrSeq" type="Number" minOccurs="0"/>
      <xs:element name="ExctnTp" type="ExecutionType1Choice" minOccurs="0"/>
      <xs:element name="Cdtr" type="BranchAndFinancialInstitutionIdentification6" minOccurs="0"/>
      <xs:element name="CdtrAcct" type="CashAccount38" minOccurs="0"/>
      <xs:element name="Dbtr" type="BranchAndFinancialInstitutionIdentification6" minOccurs="0"/>
      <xs:element name="DbtrAcct" type="CashAccount38" minOccurs="0"/>
      <xs:element name="TtlsPerStgOrdr" type="StandingOrderTotalAmount1" minOccurs="0"/>
      <xs:element name="ZeroSweepInd" type="TrueFalseIndicator" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StandingOrderTotalAmount1">
    <xs:sequence>
      <xs:element name="SetPrdfndOrdr" type="TotalAmountAndCurrency1"/>
      <xs:element name="PdgPrdfndOrdr" type="TotalAmountAndCurrency1"/>
      <xs:element name="SetStgOrdr" type="TotalAmountAndCurrency1"/>
      <xs:element name="PdgStgOrdr" type="TotalAmountAndCurrency1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StandingOrderType1Choice">
    <xs:choice>
      <xs:element name="Cd" type="StandingOrderType1Code"/>
      <xs:element name="Prtry" type="GenericIdentification1"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="StandingOrderType1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PSTO"/>
      <xs:enumeration value="USTO"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SupplementaryData1">
    <xs:sequence>
      <xs:element name="PlcAndNm" type="Max350Text" minOccurs="0"/>
      <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SupplementaryDataEnvelope1">
    <xs:sequence>
      <xs:any namespace="##any" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SystemBalanceType2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADJT"/>
      <xs:enumeration value="ADWR"/>
      <xs:enumeration value="AIDR"/>
      <xs:enumeration value="AVLB"/>
      <xs:enumeration value="BLCK"/>
      <xs:enumeration value="BLOC"/>
      <xs:enumeration value="BOOK"/>
      <xs:enumeration value="BSCC"/>
      <xs:enumeration value="BSCD"/>
      <xs:enumeration value="CCPS"/>
      <xs:enumeration value="CLSG"/>
      <xs:enumeration value="COHB"/>
      <xs:enumeration value="COLC"/>
      <xs:enumeration value="CPBL"/>
      <xs:enumeration value="CRDT"/>
      <xs:enumeration value="CRRT"/>
      <xs:enumeration value="CUSA"/>
      <xs:enumeration value="CUST"/>
      <xs:enumeration value="DBIT"/>
      <xs:enumeration value="DLOD"/>
      <xs:enumeration value="DOHB"/>
      <xs:enumeration value="DPBL"/>
      <xs:enumeration value="DSET"/>
      <xs:enumeration value="DWRD"/>
      <xs:enumeration value="EAST"/>
      <xs:enumeration value="FCOL"/>
      <xs:enumeration value="FCOU"/>
      <xs:enumeration value="FORC"/>
      <xs:enumeration value="FSET"/>
      <xs:enumeration value="FUND"/>
      <xs:enumeration value="FUTB"/>
      <xs:enumeration value="INTM"/>
      <xs:enumeration value="IRDR"/>
      <xs:enumeration value="IRLT"/>
      <xs:enumeration value="LACK"/>
      <xs:enumeration value="LRLD"/>
      <xs:enumeration value="LTSF"/>
      <xs:enumeration value="NOTE"/>
      <xs:enumeration value="NSET"/>
      <xs:enumeration value="OPNG"/>
      <xs:enumeration value="OTCC"/>
      <xs:enumeration value="OTCG"/>
      <xs:enumeration value="OTCN"/>
      <xs:enumeration value="OTHB"/>
      <xs:enumeration value="PDNG"/>
      <xs:enumeration value="PIPO"/>
      <xs:enumeration value="PRAV"/>
      <xs:enumeration value="PYMT"/>
      <xs:enumeration value="REJB"/>
      <xs:enumeration value="REPC"/>
      <xs:enumeration value="REPD"/>
      <xs:enumeration value="SAPC"/>
      <xs:enumeration value="SAPD"/>
      <xs:enumeration value="SAPP"/>
      <xs:enumeration value="SCOL"/>
      <xs:enumeration value="SCOU"/>
      <xs:enumeration value="THRE"/>
      <xs:enumeration value="TOHB"/>
      <xs:enumeration value="TPBL"/>
      <xs:enumeration value="XCHC"/>
      <xs:enumeration value="XCHG"/>
      <xs:enumeration value="XCHN"/>
      <xs:enumeration value="XCRD"/>
      <xs:enumeration value="XDBT"/>
      <xs:enumeration value="XPCD"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TotalAmountAndCurrency1">
    <xs:sequence>
      <xs:element name="TtlAmt" type="ImpliedCurrencyAndAmount"/>
      <xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
      <xs:element name="Ccy" type="ActiveCurrencyCode" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="TrueFalseIndicator">
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
</xs:schema>
