backend/app/schemas_xsd/SIC/reda.017.001.01.ch.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
(C) Copyright 2024, SIX Interbank Clearing Ltd
XML Schema used in the Swiss Interbank space:
	Suffix part 1: .ch:	Identification as a Swiss (CH) version
	Suffix part 2: .02:   Version of this schema

Based on ISO reda.017.001.01 (urn:iso:std:iso:20022:tech:xsd:reda.017.001.01)
-->
<xs:schema xmlns="http://www.six-interbank-clearing.com/de/reda.017.001.01.ch.02"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.six-interbank-clearing.com/de/reda.017.001.01.ch.02"
    elementFormDefault="qualified">
  <xs:element name="Document" type="Document_CH_reda017"/>
  <xs:simpleType name="AddressType2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADDR"/>
      <xs:enumeration value="BIZZ"/>
      <xs:enumeration value="DLVY"/>
      <xs:enumeration value="HOME"/>
      <xs:enumeration value="MLTO"/>
      <xs:enumeration value="PBOX"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AddressType3Choice">
    <xs:choice>
      <xs:element name="Cd" type="AddressType2Code"/>
      <xs:element name="Prtry" type="GenericIdentification30"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="AnyBICDec2014Identifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BICFIDec2014Identifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Contact5">
    <xs:sequence>
      <xs:element name="NmPrfx" type="NamePrefix2Code" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PhneNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="MobNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="FaxNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="EmailAdr" type="Max2048Text" minOccurs="0"/>
      <xs:element name="EmailPurp" type="Max35Text" minOccurs="0"/>
      <xs:element name="JobTitl" type="Max35Text" minOccurs="0"/>
      <xs:element name="Rspnsblty" type="Max35Text" minOccurs="0"/>
      <xs:element name="Dept" type="Max70Text" minOccurs="0"/>
      <xs:element name="Othr" type="OtherContact1" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="PrefrdMtd" type="PreferredContactMethod1Code" minOccurs="0"/>
      <xs:element name="VldFr" type="ISODate" minOccurs="0"/>
      <xs:element name="VldTo" type="ISODate" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CountryCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="PtyRpt" type="PartyReportV01"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document_CH_reda017">
    <xs:complexContent>
      <xs:restriction base="Document">
        <xs:sequence>
          <xs:element name="PtyRpt" type="PartyReportV01_CH_reda017"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ErrorHandling1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="X020"/>
      <xs:enumeration value="X030"/>
      <xs:enumeration value="X050"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ErrorHandling2Choice">
    <xs:choice>
      <xs:element name="Cd" type="ErrorHandling1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ErrorHandling3Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalSystemErrorHandling1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ErrorHandling3Choice_CH_reda017">
    <xs:complexContent>
      <xs:restriction base="ErrorHandling3Choice">
        <xs:choice>
          <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ErrorHandling4">
    <xs:sequence>
      <xs:element name="Err" type="ErrorHandling2Choice"/>
      <xs:element name="Desc" type="Max140Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorHandling5">
    <xs:sequence>
      <xs:element name="Err" type="ErrorHandling3Choice"/>
      <xs:element name="Desc" type="Max140Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorHandling5_CH_reda017">
    <xs:complexContent>
      <xs:restriction base="ErrorHandling5">
        <xs:sequence>
          <xs:element name="Err" type="ErrorHandling3Choice_CH_reda017"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="Exact4AlphaNumericText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z0-9]{4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalSystemErrorHandling1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalSystemPartyType1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="GenericIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericIdentification1_CH_reda017">
    <xs:complexContent>
      <xs:restriction base="GenericIdentification1">
        <xs:sequence>
          <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericIdentification30">
    <xs:sequence>
      <xs:element name="Id" type="Exact4AlphaNumericText"/>
      <xs:element name="Issr" type="Max35Text"/>
      <xs:element name="SchmeNm" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericIdentification36">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="Issr" type="Max35Text"/>
      <xs:element name="SchmeNm" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericIdentification36_CH_reda017">
    <xs:complexContent>
      <xs:restriction base="GenericIdentification36">
        <xs:sequence>
          <xs:element name="Id" type="Max35Text"/>
          <xs:element name="Issr" type="Max35Text"/>
          <xs:element name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericIdentification36_CH_reda017_2">
    <xs:complexContent>
      <xs:restriction base="GenericIdentification36">
        <xs:sequence>
          <xs:element name="Id" type="Max35Text"/>
          <xs:element name="Issr" type="Max35Text"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="LEIIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LockStatus1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LOCK"/>
      <xs:enumeration value="ULCK"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MarketSpecificAttribute1">
    <xs:sequence>
      <xs:element name="Nm" type="Max35Text"/>
      <xs:element name="Val" type="Max350Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Max128Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="128"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max140Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="140"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max16Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max2048Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="2048"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max256Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="256"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max350Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="350"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_CH_reda017">
    <xs:restriction base="Max35Text">
      <xs:pattern value="[A-Za-z0-9+?/:()\.,&apos;\-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max4Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max70Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MessageHeader3">
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text"/>
      <xs:element name="CreDtTm" type="ISODateTime" minOccurs="0"/>
      <xs:element name="ReqTp" type="RequestType2Choice" minOccurs="0"/>
      <xs:element name="OrgnlBizQry" type="OriginalBusinessQuery1" minOccurs="0"/>
      <xs:element name="QryNm" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageHeader3_CH_reda017">
    <xs:complexContent>
      <xs:restriction base="MessageHeader3">
        <xs:sequence>
          <xs:element name="MsgId" type="Max35Text_CH_reda017"/>
          <xs:element name="CreDtTm" type="ISODateTime"/>
          <xs:element name="ReqTp" type="RequestType2Choice_CH_reda017"/>
          <xs:element name="OrgnlBizQry" type="OriginalBusinessQuery1_CH_reda017"/>
          <xs:element name="QryNm" type="Max35Text"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NameAndAddress5">
    <xs:sequence>
      <xs:element name="Nm" type="Max350Text"/>
      <xs:element name="Adr" type="PostalAddress1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="NamePrefix2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DOCT"/>
      <xs:enumeration value="MADM"/>
      <xs:enumeration value="MIKS"/>
      <xs:enumeration value="MISS"/>
      <xs:enumeration value="MIST"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OriginalBusinessQuery1">
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text"/>
      <xs:element name="MsgNmId" type="Max35Text" minOccurs="0"/>
      <xs:element name="CreDtTm" type="ISODateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginalBusinessQuery1_CH_reda017">
    <xs:complexContent>
      <xs:restriction base="OriginalBusinessQuery1">
        <xs:sequence>
          <xs:element name="MsgId" type="Max35Text"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OtherContact1">
    <xs:sequence>
      <xs:element name="ChanlTp" type="Max4Text"/>
      <xs:element name="Id" type="Max128Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification120Choice">
    <xs:choice>
      <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
      <xs:element name="PrtryId" type="GenericIdentification36"/>
      <xs:element name="NmAndAdr" type="NameAndAddress5"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PartyIdentification120Choice_CH_reda017">
    <xs:complexContent>
      <xs:restriction base="PartyIdentification120Choice">
        <xs:choice>
          <xs:element name="PrtryId" type="GenericIdentification36_CH_reda017"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyIdentification120Choice_CH_reda017_2">
    <xs:complexContent>
      <xs:restriction base="PartyIdentification120Choice">
        <xs:choice>
          <xs:element name="PrtryId" type="GenericIdentification36_CH_reda017_2"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyIdentification136">
    <xs:sequence>
      <xs:element name="Id" type="PartyIdentification120Choice"/>
      <xs:element name="LEI" type="LEIIdentifier" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification136_CH_reda017">
    <xs:complexContent>
      <xs:restriction base="PartyIdentification136">
        <xs:sequence>
          <xs:element name="Id" type="PartyIdentification120Choice_CH_reda017"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyIdentification136_CH_reda017_2">
    <xs:complexContent>
      <xs:restriction base="PartyIdentification136">
        <xs:sequence>
          <xs:element name="Id" type="PartyIdentification120Choice_CH_reda017_2"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyLockStatus1">
    <xs:sequence>
      <xs:element name="VldFr" type="ISODate" minOccurs="0"/>
      <xs:element name="Sts" type="LockStatus1Code"/>
      <xs:element name="LckRsn" type="Max35Text" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyName4">
    <xs:sequence>
      <xs:element name="VldFr" type="ISODate" minOccurs="0"/>
      <xs:element name="Nm" type="Max350Text"/>
      <xs:element name="ShrtNm" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyName4_CH_reda017">
    <xs:complexContent>
      <xs:restriction base="PartyName4">
        <xs:sequence>
          <xs:element name="Nm" type="Max350Text"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyOrBusinessError3Choice">
    <xs:choice>
      <xs:element name="SysPty" type="SystemParty5"/>
      <xs:element name="BizErr" type="ErrorHandling4" maxOccurs="unbounded"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PartyOrBusinessError3Choice_CH_reda017">
    <xs:complexContent>
      <xs:restriction base="PartyOrBusinessError3Choice">
        <xs:choice>
          <xs:element name="SysPty" type="SystemParty5_CH_reda017"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyOrOperationalError3Choice">
    <xs:choice>
      <xs:element name="PtyRpt" type="PartyReport3" maxOccurs="unbounded"/>
      <xs:element name="OprlErr" type="ErrorHandling5" maxOccurs="unbounded"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PartyOrOperationalError3Choice_CH_reda017">
    <xs:complexContent>
      <xs:restriction base="PartyOrOperationalError3Choice">
        <xs:choice>
          <xs:element name="PtyRpt" type="PartyReport3_CH_reda017" maxOccurs="unbounded"/>
          <xs:element name="OprlErr" type="ErrorHandling5_CH_reda017"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyReport3">
    <xs:sequence>
      <xs:element name="PtyId" type="SystemPartyIdentification8"/>
      <xs:element name="PtyOrErr" type="PartyOrBusinessError3Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyReport3_CH_reda017">
    <xs:complexContent>
      <xs:restriction base="PartyReport3">
        <xs:sequence>
          <xs:element name="PtyId" type="SystemPartyIdentification8_CH_reda017"/>
          <xs:element name="PtyOrErr" type="PartyOrBusinessError3Choice_CH_reda017"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyReportV01">
    <xs:sequence>
      <xs:element name="MsgHdr" type="MessageHeader3" minOccurs="0"/>
      <xs:element name="RptOrErr" type="PartyOrOperationalError3Choice"/>
      <xs:element name="SplmtryData" type="SupplementaryData1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyReportV01_CH_reda017">
    <xs:complexContent>
      <xs:restriction base="PartyReportV01">
        <xs:sequence>
          <xs:element name="MsgHdr" type="MessageHeader3_CH_reda017"/>
          <xs:element name="RptOrErr" type="PartyOrOperationalError3Choice_CH_reda017"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="PhoneNumber">
    <xs:restriction base="xs:string">
      <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PostalAddress1">
    <xs:sequence>
      <xs:element name="AdrTp" type="AddressType2Code" minOccurs="0"/>
      <xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="5"/>
      <xs:element name="StrtNm" type="Max70Text" minOccurs="0"/>
      <xs:element name="BldgNb" type="Max16Text" minOccurs="0"/>
      <xs:element name="PstCd" type="Max16Text" minOccurs="0"/>
      <xs:element name="TwnNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0"/>
      <xs:element name="Ctry" type="CountryCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PostalAddress25">
    <xs:sequence>
      <xs:element name="AdrTp" type="AddressType3Choice" minOccurs="0"/>
      <xs:element name="Dept" type="Max70Text" minOccurs="0"/>
      <xs:element name="SubDept" type="Max70Text" minOccurs="0"/>
      <xs:element name="StrtNm" type="Max70Text" minOccurs="0"/>
      <xs:element name="BldgNb" type="Max16Text" minOccurs="0"/>
      <xs:element name="BldgNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="Flr" type="Max70Text" minOccurs="0"/>
      <xs:element name="PstBx" type="Max16Text" minOccurs="0"/>
      <xs:element name="Room" type="Max70Text" minOccurs="0"/>
      <xs:element name="PstCd" type="Max16Text" minOccurs="0"/>
      <xs:element name="TwnNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="TwnLctnNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="DstrctNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0"/>
      <xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
      <xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="7"/>
      <xs:element name="VldFr" type="ISODate" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PreferredContactMethod1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CELL"/>
      <xs:enumeration value="FAXX"/>
      <xs:enumeration value="LETT"/>
      <xs:enumeration value="MAIL"/>
      <xs:enumeration value="PHON"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RequestType1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RT01"/>
      <xs:enumeration value="RT02"/>
      <xs:enumeration value="RT03"/>
      <xs:enumeration value="RT04"/>
      <xs:enumeration value="RT05"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RequestType2Choice">
    <xs:choice>
      <xs:element name="PmtCtrl" type="RequestType1Code"/>
      <xs:element name="Enqry" type="RequestType2Code"/>
      <xs:element name="Prtry" type="GenericIdentification1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="RequestType2Choice_CH_reda017">
    <xs:complexContent>
      <xs:restriction base="RequestType2Choice">
        <xs:choice>
          <xs:element name="Prtry" type="GenericIdentification1_CH_reda017"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="RequestType2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RT11"/>
      <xs:enumeration value="RT12"/>
      <xs:enumeration value="RT13"/>
      <xs:enumeration value="RT14"/>
      <xs:enumeration value="RT15"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ResidenceType1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DMST"/>
      <xs:enumeration value="FRGN"/>
      <xs:enumeration value="MXED"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SICText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}\p{IsLatinExtended-A}€ȘșȚț-[\p{C}]]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SupplementaryData1">
    <xs:sequence>
      <xs:element name="PlcAndNm" type="Max350Text" minOccurs="0"/>
      <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SupplementaryDataEnvelope1">
    <xs:sequence>
      <xs:any namespace="##any" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SystemParty5">
    <xs:sequence>
      <xs:element name="PtyId" type="SystemPartyIdentification9" minOccurs="0"/>
      <xs:element name="Adr" type="PostalAddress25" minOccurs="0"/>
      <xs:element name="CtctDtls" type="Contact5" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="OpngDt" type="ISODate" minOccurs="0"/>
      <xs:element name="ClsgDt" type="ISODate" minOccurs="0"/>
      <xs:element name="Tp" type="SystemPartyType1Choice" minOccurs="0"/>
      <xs:element name="TechAdr" type="TechnicalIdentification2Choice" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="MktSpcfcAttr" type="MarketSpecificAttribute1" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Nm" type="PartyName4" minOccurs="0"/>
      <xs:element name="ResTp" type="ResidenceType1Code" minOccurs="0"/>
      <xs:element name="LckSts" type="PartyLockStatus1" minOccurs="0"/>
      <xs:element name="Rstrctn" type="SystemRestriction1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SystemParty5_CH_reda017">
    <xs:complexContent>
      <xs:restriction base="SystemParty5">
        <xs:sequence>
          <xs:element name="PtyId" type="SystemPartyIdentification9_CH_reda017" minOccurs="0"/>
          <xs:element name="OpngDt" type="ISODate"/>
          <xs:element name="Tp" type="SystemPartyType1Choice_CH_reda017" minOccurs="0"/>
          <xs:element name="TechAdr" type="TechnicalIdentification2Choice" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="MktSpcfcAttr" type="MarketSpecificAttribute1" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="Nm" type="PartyName4_CH_reda017" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SystemPartyIdentification8">
    <xs:sequence>
      <xs:element name="Id" type="PartyIdentification136"/>
      <xs:element name="RspnsblPtyId" type="PartyIdentification136" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SystemPartyIdentification8_CH_reda017">
    <xs:complexContent>
      <xs:restriction base="SystemPartyIdentification8">
        <xs:sequence>
          <xs:element name="Id" type="PartyIdentification136_CH_reda017"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SystemPartyIdentification9">
    <xs:sequence>
      <xs:element name="Id" type="PartyIdentification136"/>
      <xs:element name="RspnsblPtyId" type="PartyIdentification136" minOccurs="0"/>
      <xs:element name="VldFr" type="ISODate" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SystemPartyIdentification9_CH_reda017">
    <xs:complexContent>
      <xs:restriction base="SystemPartyIdentification9">
        <xs:sequence>
          <xs:element name="Id" type="PartyIdentification136_CH_reda017_2"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SystemPartyType1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalSystemPartyType1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="SystemPartyType1Choice_CH_reda017">
    <xs:complexContent>
      <xs:restriction base="SystemPartyType1Choice">
        <xs:choice>
          <xs:element name="Cd" type="ExternalSystemPartyType1Code"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SystemRestriction1">
    <xs:sequence>
      <xs:element name="VldFr" type="ISODateTime"/>
      <xs:element name="VldTo" type="ISODateTime" minOccurs="0"/>
      <xs:element name="Tp" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TechnicalIdentification2Choice">
    <xs:choice>
      <xs:element name="BICFI" type="BICFIDec2014Identifier"/>
      <xs:element name="TechAdr" type="Max256Text"/>
    </xs:choice>
  </xs:complexType>
</xs:schema>
