backend/app/schemas_xsd/SIC/reda.015.001.01.ch.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
(C) Copyright 2022, SIX Interbank Clearing Ltd
XML Schema used in the Swiss Interbank space:
	Suffix part 1: .ch:	Identification as a Swiss (CH) version
	Suffix part 2: .01:   Version of this scheme

Based on ISO reda.015.001.01 (urn:iso:std:iso:20022:tech:xsd:reda.015.001.01)
-->
<xs:schema xmlns="http://www.six-interbank-clearing.com/de/reda.015.001.01.ch.01"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.six-interbank-clearing.com/de/reda.015.001.01.ch.01"
    elementFormDefault="qualified">
  <xs:element name="Document" type="Document_CH_reda015"/>
  <xs:simpleType name="AddressType2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADDR"/>
      <xs:enumeration value="BIZZ"/>
      <xs:enumeration value="DLVY"/>
      <xs:enumeration value="HOME"/>
      <xs:enumeration value="MLTO"/>
      <xs:enumeration value="PBOX"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AnyBICDec2014Identifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CountryCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DateAndDateTimeSearch4Choice">
    <xs:choice>
      <xs:element name="DtTm" type="DateTimeSearch2Choice"/>
      <xs:element name="Dt" type="DatePeriodSearch1Choice"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="DatePeriod2">
    <xs:sequence>
      <xs:element name="FrDt" type="ISODate"/>
      <xs:element name="ToDt" type="ISODate"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatePeriodSearch1Choice">
    <xs:choice>
      <xs:element name="FrDt" type="ISODate"/>
      <xs:element name="ToDt" type="ISODate"/>
      <xs:element name="FrToDt" type="DatePeriod2"/>
      <xs:element name="EQDt" type="ISODate"/>
      <xs:element name="NEQDt" type="ISODate"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="DatePeriodSearch1Choice_CH_reda015">
    <xs:complexContent>
      <xs:restriction base="DatePeriodSearch1Choice">
        <xs:choice>
          <xs:element name="EQDt" type="ISODate"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DateTimePeriod1">
    <xs:sequence>
      <xs:element name="FrDtTm" type="ISODateTime"/>
      <xs:element name="ToDtTm" type="ISODateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateTimeSearch2Choice">
    <xs:choice>
      <xs:element name="FrDtTm" type="ISODateTime"/>
      <xs:element name="ToDtTm" type="ISODateTime"/>
      <xs:element name="FrToDtTm" type="DateTimePeriod1"/>
      <xs:element name="EQDtTm" type="ISODateTime"/>
      <xs:element name="NEQDtTm" type="ISODateTime"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="PtyQry" type="PartyQueryV01"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document_CH_reda015">
    <xs:complexContent>
      <xs:restriction base="Document">
        <xs:sequence>
          <xs:element name="PtyQry" type="PartyQueryV01_CH_reda015"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ExternalSystemPartyType1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="GenericIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericIdentification1_CH_reda015">
    <xs:complexContent>
      <xs:restriction base="GenericIdentification1">
        <xs:sequence>
          <xs:element name="Id" type="Max35Text"/>
          <xs:element name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericIdentification36">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="Issr" type="Max35Text"/>
      <xs:element name="SchmeNm" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericIdentification36_CH_reda015">
    <xs:complexContent>
      <xs:restriction base="GenericIdentification36">
        <xs:sequence>
          <xs:element name="Id" type="Max35Text"/>
          <xs:element name="Issr" type="Max35Text"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="LEIIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LockStatus1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LOCK"/>
      <xs:enumeration value="ULCK"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max16Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max350Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="350"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_CH_reda015">
    <xs:restriction base="Max35Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="[A-Za-z0-9+?/:()\.,&apos;\-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max70Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MessageHeader2">
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text"/>
      <xs:element name="CreDtTm" type="ISODateTime" minOccurs="0"/>
      <xs:element name="ReqTp" type="RequestType2Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageHeader2_CH_reda015">
    <xs:complexContent>
      <xs:restriction base="MessageHeader2">
        <xs:sequence>
          <xs:element name="MsgId" type="Max35Text_CH_reda015"/>
          <xs:element name="CreDtTm" type="ISODateTime"/>
          <xs:element name="ReqTp" type="RequestType2Choice_CH_reda015"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NameAndAddress5">
    <xs:sequence>
      <xs:element name="Nm" type="Max350Text"/>
      <xs:element name="Adr" type="PostalAddress1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyDataReturnCriteria2">
    <xs:sequence>
      <xs:element name="OpngDt" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="ClsgDt" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="Tp" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="PtyId" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="RspnsblPtyId" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="RstrctnId" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="RstrctdOnDt" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="Nm" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="ShrtNm" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="Adr" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="TechAdr" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="CtctDtls" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="ResTp" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="LckSts" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="MktSpcfcAttr" type="RequestedIndicator" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyDataSearchCriteria2">
    <xs:sequence>
      <xs:element name="OpngDt" type="DatePeriodSearch1Choice" minOccurs="0"/>
      <xs:element name="ClsgDt" type="DatePeriodSearch1Choice" minOccurs="0"/>
      <xs:element name="Tp" type="SystemPartyType1Choice" minOccurs="0"/>
      <xs:element name="RspnsblPtyId" type="PartyIdentification136" minOccurs="0"/>
      <xs:element name="PtyId" type="PartyIdentification136" minOccurs="0"/>
      <xs:element name="RstrctnId" type="Max35Text" minOccurs="0"/>
      <xs:element name="RstrctnIsseDt" type="DateAndDateTimeSearch4Choice" minOccurs="0"/>
      <xs:element name="ResTp" type="ResidenceType1Code" minOccurs="0"/>
      <xs:element name="LckSts" type="PartyLockStatus1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyDataSearchCriteria2_CH_reda015">
    <xs:complexContent>
      <xs:restriction base="PartyDataSearchCriteria2">
        <xs:sequence>
          <xs:element name="OpngDt" type="DatePeriodSearch1Choice_CH_reda015" minOccurs="0"/>
          <xs:element name="PtyId" type="PartyIdentification136_CH_reda015"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyIdentification120Choice">
    <xs:choice>
      <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
      <xs:element name="PrtryId" type="GenericIdentification36"/>
      <xs:element name="NmAndAdr" type="NameAndAddress5"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PartyIdentification120Choice_CH_reda015">
    <xs:complexContent>
      <xs:restriction base="PartyIdentification120Choice">
        <xs:choice>
          <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
          <xs:element name="PrtryId" type="GenericIdentification36_CH_reda015"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyIdentification136">
    <xs:sequence>
      <xs:element name="Id" type="PartyIdentification120Choice"/>
      <xs:element name="LEI" type="LEIIdentifier" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification136_CH_reda015">
    <xs:complexContent>
      <xs:restriction base="PartyIdentification136">
        <xs:sequence>
          <xs:element name="Id" type="PartyIdentification120Choice_CH_reda015"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyLockStatus1">
    <xs:sequence>
      <xs:element name="VldFr" type="ISODate" minOccurs="0"/>
      <xs:element name="Sts" type="LockStatus1Code"/>
      <xs:element name="LckRsn" type="Max35Text" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyQueryV01">
    <xs:sequence>
      <xs:element name="MsgHdr" type="MessageHeader2" minOccurs="0"/>
      <xs:element name="SchCrit" type="PartyDataSearchCriteria2"/>
      <xs:element name="RtrCrit" type="PartyDataReturnCriteria2" minOccurs="0"/>
      <xs:element name="SplmtryData" type="SupplementaryData1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyQueryV01_CH_reda015">
    <xs:complexContent>
      <xs:restriction base="PartyQueryV01">
        <xs:sequence>
          <xs:element name="MsgHdr" type="MessageHeader2_CH_reda015"/>
          <xs:element name="SchCrit" type="PartyDataSearchCriteria2_CH_reda015"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PostalAddress1">
    <xs:sequence>
      <xs:element name="AdrTp" type="AddressType2Code" minOccurs="0"/>
      <xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="5"/>
      <xs:element name="StrtNm" type="Max70Text" minOccurs="0"/>
      <xs:element name="BldgNb" type="Max16Text" minOccurs="0"/>
      <xs:element name="PstCd" type="Max16Text" minOccurs="0"/>
      <xs:element name="TwnNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0"/>
      <xs:element name="Ctry" type="CountryCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="RequestedIndicator">
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:simpleType name="RequestType1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RT01"/>
      <xs:enumeration value="RT02"/>
      <xs:enumeration value="RT03"/>
      <xs:enumeration value="RT04"/>
      <xs:enumeration value="RT05"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RequestType2Choice">
    <xs:choice>
      <xs:element name="PmtCtrl" type="RequestType1Code"/>
      <xs:element name="Enqry" type="RequestType2Code"/>
      <xs:element name="Prtry" type="GenericIdentification1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="RequestType2Choice_CH_reda015">
    <xs:complexContent>
      <xs:restriction base="RequestType2Choice">
        <xs:choice>
          <xs:element name="Prtry" type="GenericIdentification1_CH_reda015"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="RequestType2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RT11"/>
      <xs:enumeration value="RT12"/>
      <xs:enumeration value="RT13"/>
      <xs:enumeration value="RT14"/>
      <xs:enumeration value="RT15"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ResidenceType1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DMST"/>
      <xs:enumeration value="FRGN"/>
      <xs:enumeration value="MXED"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SICText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}\p{IsLatinExtended-A}€ȘșȚț-[\p{C}]]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SupplementaryData1">
    <xs:sequence>
      <xs:element name="PlcAndNm" type="Max350Text" minOccurs="0"/>
      <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SupplementaryDataEnvelope1">
    <xs:sequence>
      <xs:any namespace="##any" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SystemPartyType1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalSystemPartyType1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
</xs:schema>
