backend/app/schemas_xsd/Sepa/EPC115-06_2023_V1.0_pacs.008.001.08_F&C.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.08"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.08"
    elementFormDefault="qualified">
  <xs:element name="Document" type="Document_EPC115-06_2023_V1.0_SCT_InterPSP"/>
  <xs:complexType name="AccountIdentification4Choice">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Account Identification 4Choice</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Specifies the unique identification of an account as assigned by the account servicer.</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="IBAN" type="IBAN2007Identifier">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">IBAN</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">International Bank Account Number (IBAN) - identifier used internationally by financial institutions to uniquely identify the account of a customer. Further specifications of the format and content of the IBAN can be found in the standard ISO 13616 "Banking and related financial services - International Bank Account Number (IBAN)" version 1997-10-01, or later revisions.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Othr" type="GenericAccountIdentification1">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Other</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Unique identification of an account, as assigned by the account servicer, using an identification scheme.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AccountIdentification4Choice_EPC115-06_2023_V1.0_SCT_InterPSP">
    <xs:complexContent>
      <xs:restriction base="AccountIdentification4Choice">
        <xs:choice>
          <xs:element name="IBAN" type="IBAN2007Identifier"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AccountSchemeName1Choice">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Account Scheme Name 1Choice</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Sets of elements to identify a name of the identification scheme.</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="Cd" type="ExternalAccountIdentification1Code">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Code</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Name of the identification scheme, in a coded form as published in an external list.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Prtry" type="Max35Text">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Proprietary</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Name of the identification scheme, in a free text form.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ActiveCurrencyAndAmount">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Active Currency And Amount</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
        <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required">
          <xs:annotation>
            <xs:documentation xml:lang="EN" source="Name">Currency</xs:documentation>
            <xs:documentation xml:lang="EN" source="Definition">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ActiveCurrencyAndAmount_EPC115-06_2023_V1.0_SCT_InterPSP">
    <xs:simpleContent>
      <xs:restriction base="ActiveCurrencyAndAmount">
        <xs:maxInclusive value="999999999999999.99"/>
        <xs:minInclusive value="0.01"/>
        <xs:fractionDigits value="2"/>
        <xs:attribute name="Ccy" type="ActiveCurrencyCode_EPC115-06_2023_V1.0_SCT_InterPSP" use="required"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ActiveCurrencyAndAmount_EPC115-06_2023_V1.0_SCT_InterPSP_2">
    <xs:simpleContent>
      <xs:restriction base="ActiveCurrencyAndAmount">
        <xs:maxInclusive value="999999999.99"/>
        <xs:minInclusive value="0.01"/>
        <xs:fractionDigits value="2"/>
        <xs:attribute name="Ccy" type="ActiveCurrencyCode_EPC115-06_2023_V1.0_SCT_InterPSP" use="required"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Active Currency And Amount _Simple Type</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ActiveCurrencyCode">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Active Currency Code</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ActiveCurrencyCode_EPC115-06_2023_V1.0_SCT_InterPSP">
    <xs:restriction base="ActiveCurrencyCode">
      <xs:enumeration value="EUR">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Euro</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:pattern value="[A-Z]{3,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AnyBICDec2014Identifier">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Any BICDec 2014Identifier</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362: 2014 - "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BICFIDec2014Identifier">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">BICFIDec 2014Identifier</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362: 2014 - "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification6">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Branch And Financial Institution Identification 6</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Unique and unambiguous identification of a financial institution or a branch of a financial institution.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Financial Institution Identification</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Unique and unambiguous identification of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification6_EPC115-06_2023_V1.0_SCT_InterPSP">
    <xs:complexContent>
      <xs:restriction base="BranchAndFinancialInstitutionIdentification6">
        <xs:sequence>
          <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18_EPC115-06_2023_V1.0_SCT_InterPSP"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CashAccount38">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Cash Account 38</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Provides the details to identify an account.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Id" type="AccountIdentification4Choice">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Identification</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccount38_EPC115-06_2023_V1.0_SCT_InterPSP">
    <xs:complexContent>
      <xs:restriction base="CashAccount38">
        <xs:sequence>
          <xs:element name="Id" type="AccountIdentification4Choice_EPC115-06_2023_V1.0_SCT_InterPSP"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CategoryPurpose1Choice">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Category Purpose 1Choice</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">
Specifies the high level purpose of the instruction based on a set of pre-defined categories.
Usage: This is used by the initiating party to provide information concerning the processing of the payment. It is likely to trigger special processing by any of the agents involved in the payment chain.
      </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="Cd" type="ExternalCategoryPurpose1Code">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Code</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Category purpose, as published in an external category purpose code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="CategoryPurpose1Choice_EPC115-06_2023_V1.0_SCT_InterPSP">
    <xs:complexContent>
      <xs:restriction base="CategoryPurpose1Choice">
        <xs:choice>
          <xs:element name="Cd" type="ExternalCategoryPurpose1Code_EPC115-06_2023_V1.0_SCT_InterPSP">
            <xs:annotation>
              <xs:documentation source="Usage Rule">Only "FCOL", "INTE" or "FCIN" are allowed.</xs:documentation>
              <xs:documentation source="Yellow Field"/>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ChargeBearerType1Code">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Charge Bearer Type 1Code</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Specifies which party(ies) will pay charges due for processing of the instruction.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="SLEV">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">FollowingServiceLevel</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Charges are to be applied following the rules agreed in the service level and/or scheme.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ClearingSystemIdentification3Choice">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Clearing System Identification 3Choice</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Specifies the clearing system identification.</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="Cd" type="ExternalCashClearingSystem1Code">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Code</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Infrastructure through which the payment instruction is processed, as published in an external clearing system identification code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Prtry" type="Max35Text">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Proprietary</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Clearing system identification in a proprietary form.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ClearingSystemIdentification3Choice_EPC115-06_2023_V1.0_SCT_InterPSP">
    <xs:complexContent>
      <xs:restriction base="ClearingSystemIdentification3Choice">
        <xs:choice>
          <xs:element name="Cd" type="ExternalCashClearingSystem1Code">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="Prtry" type="Max35Text">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceInformation2">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Creditor Reference Information 2</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Reference information provided by the creditor to allow the identification of the underlying documents.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Tp" type="CreditorReferenceType2" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Type</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Specifies the type of creditor reference.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Ref" type="Max35Text" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Reference</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">
Unique reference, as assigned by the creditor, to unambiguously refer to the payment transaction.

Usage: If available, the initiating party should provide this reference in the structured remittance information, to enable reconciliation by the creditor upon receipt of the amount of money.

If the business context requires the use of a creditor reference or a payment remit identification, and only one identifier can be passed through the end-to-end chain, the creditor's reference or payment remittance identification should be quoted in the end-to-end transaction identification.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceInformation2_EPC115-06_2023_V1.0_SCT_InterPSP">
    <xs:complexContent>
      <xs:restriction base="CreditorReferenceInformation2">
        <xs:sequence>
          <xs:element name="Tp" type="CreditorReferenceType2_EPC115-06_2023_V1.0_SCT_InterPSP">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Mandatory.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Ref" type="Max35Text">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Mandatory.</xs:documentation>
              <xs:documentation xml:lang="EN" source="Rulebook">AT-Q009 Reference of the Beneficiary PSP for inter-PSP fee and/or compensation payment.</xs:documentation>
              <xs:documentation source="Usage Rule">RF Creditor Reference must be used (ISO 11649) in case “ISO” is mentioned under 'Issuer'.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceType1Choice">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Creditor Reference Type 1Choice</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Specifies the type of document referred by the creditor.</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="Cd" type="DocumentType3Code">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Code</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Type of creditor reference, in a coded form.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceType1Choice_EPC115-06_2023_V1.0_SCT_InterPSP">
    <xs:complexContent>
      <xs:restriction base="CreditorReferenceType1Choice">
        <xs:choice>
          <xs:element name="Cd" type="DocumentType3Code">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Only "SCOR" is allowed.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceType2">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Creditor Reference Type 2</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Specifies the type of creditor reference.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CdOrPrtry" type="CreditorReferenceType1Choice">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Code Or Proprietary</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Coded or proprietary format creditor reference type.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Issr" type="Max35Text" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Issuer</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Entity that assigns the credit reference type.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceType2_EPC115-06_2023_V1.0_SCT_InterPSP">
    <xs:complexContent>
      <xs:restriction base="CreditorReferenceType2">
        <xs:sequence>
          <xs:element name="CdOrPrtry" type="CreditorReferenceType1Choice_EPC115-06_2023_V1.0_SCT_InterPSP">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="Issr" type="Max35Text" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Mandatory if ‘Reference’ is populated with an identifier issued or governed by a known institution. E.g. “ISO” should be mentioned here if ‘Reference’ is populated with a RF Creditor Reference (ISO 11649).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CreditTransferTransaction39">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Credit Transfer Transaction 39</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Provides further details specific to the individual transaction(s) included in the message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PmtId" type="PaymentIdentification7">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Payment Identification</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Set of elements used to reference a payment instruction.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PmtTpInf" type="PaymentTypeInformation28" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Payment Type Information</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Set of elements used to further specify the type of transaction.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IntrBkSttlmAmt" type="ActiveCurrencyAndAmount">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Interbank Settlement Amount</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Amount of money moved between the instructing agent and the instructed agent.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChrgBr" type="ChargeBearerType1Code">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Charge Bearer</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Specifies which party/parties will bear the charges associated with the processing of the payment transaction.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification6" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Instructing Agent</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Agent that instructs the next party in the chain to carry out the (set of) instruction(s).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification6" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Instructed Agent</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Agent that is instructed by the previous party in the chain to carry out the (set of) instruction(s).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Dbtr" type="PartyIdentification135">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Debtor</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Party that owes an amount of money to the (ultimate) creditor.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DbtrAcct" type="CashAccount38" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Debtor Account</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Unambiguous identification of the account of the debtor to which a debit entry will be made as a result of the transaction.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification6">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Debtor Agent</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Financial institution servicing an account for the debtor.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification6">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Creditor Agent</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Financial institution servicing an account for the creditor.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Cdtr" type="PartyIdentification135">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Creditor</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Party to which an amount of money is due.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CdtrAcct" type="CashAccount38" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Creditor Account</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Unambiguous identification of the account of the creditor to which a credit entry will be posted as a result of the payment transaction.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RmtInf" type="RemittanceInformation16" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Remittance Information</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Information supplied to enable the matching of an entry with the items that the transfer is intended to settle, such as commercial invoices in an accounts' receivable system.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditTransferTransaction39_EPC115-06_2023_V1.0_SCT_InterPSP">
    <xs:complexContent>
      <xs:restriction base="CreditTransferTransaction39">
        <xs:sequence>
          <xs:element name="PmtId" type="PaymentIdentification7_EPC115-06_2023_V1.0_SCT_InterPSP">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="PmtTpInf" type="PaymentTypeInformation28_EPC115-06_2023_V1.0_SCT_InterPSP_2" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">'Payment Type Information' must be provided either here or under 'Group Header'.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IntrBkSttlmAmt" type="ActiveCurrencyAndAmount_EPC115-06_2023_V1.0_SCT_InterPSP_2">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Rulebook">AT-Q007 Fee for handling the SCT inquiry / AT-Q006 The interest compensation recovered by the Beneficiary PSP from the Originator PSP.</xs:documentation>
              <xs:documentation source="Usage Rule">Only ‘EUR’ is allowed.</xs:documentation>
              <xs:documentation source="Usage Rule">Amount must be 0.01 or more and 999999999.99 or less.</xs:documentation>
              <xs:documentation source="Format Rule">The fractional part has a maximum of two digits.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ChrgBr" type="ChargeBearerType1Code">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Only "SLEV" is allowed.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification6_EPC115-06_2023_V1.0_SCT_InterPSP" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Only 'BICFI' is allowed.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification6_EPC115-06_2023_V1.0_SCT_InterPSP" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Only 'BICFI' is allowed.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Dbtr" type="PartyIdentification135_EPC115-06_2023_V1.0_SCT_InterPSP">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation xml:lang="EN" source="Rulebook">AT-D002 BIC code of the Originator PSP.</xs:documentation>
              <xs:documentation source="Usage Rule">Only BIC code of the Originator PSP under 'Name' and 'Identification/Organisation Identification/AnyBIC' is allowed.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DbtrAcct" type="CashAccount38_EPC115-06_2023_V1.0_SCT_InterPSP">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Mandatory.</xs:documentation>
              <xs:documentation source="Usage Rule">Only IBAN is allowed.</xs:documentation>
              <xs:documentation source="Rulebook">AT-Q012 The IBAN of the account to be debited at the Originator PSP.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification6_EPC115-06_2023_V1.0_SCT_InterPSP">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Rulebook">AT-D002 The BIC code of the Originator PSP.</xs:documentation>
              <xs:documentation source="Usage Rule">Only 'BICFI' is allowed.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification6_EPC115-06_2023_V1.0_SCT_InterPSP">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Rulebook">AT-C002 The BIC code of the Beneficiary PSP.</xs:documentation>
              <xs:documentation source="Usage Rule">Only 'BICFI' is allowed.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Cdtr" type="PartyIdentification135_EPC115-06_2023_V1.0_SCT_InterPSP_2">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation xml:lang="EN" source="Rulebook">AT-C002 BIC code of the Beneficiary PSP.</xs:documentation>
              <xs:documentation source="Usage Rule">Only BIC code of the Beneficiary PSP under 'Name' and 'Identification/Organisation Identification/AnyBIC' is allowed.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CdtrAcct" type="CashAccount38_EPC115-06_2023_V1.0_SCT_InterPSP">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation xml:lang="EN" source="Rulebook">AT-Q008 The IBAN of the account to be credited at the Beneficiary PSP.</xs:documentation>
              <xs:documentation source="Usage Rule">Mandatory.</xs:documentation>
              <xs:documentation source="Usage Rule">Only IBAN is allowed</xs:documentation>
              <xs:documentation source="Usage Rule">This is the IBAN provided under ‘Resolution Related Information/Compensation’ or ‘Resolution Related Information/Charges’ in the positive response to a Claim for Value Date Correction (camt.087) or the IBAN provided under  ‘Resolution Related Information/Charges’ in the positive response to a Claim Non Receipt (camt.027).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RmtInf" type="RemittanceInformation16_EPC115-06_2023_V1.0_SCT_InterPSP">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Mandatory.</xs:documentation>
              <xs:documentation source="Usage Rule">The 'Structured' element below is used to transport AT-Q009 Reference of the Beneficiary PSP for Inter-PSP fee and/or compensation payment.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="FIToFICstmrCdtTrf" type="FIToFICustomerCreditTransferV08"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DocumentType3Code">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Document Type 3Code</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Specifies a type of financial or commercial document.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="SCOR">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">StructuredCommunicationReference</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Document is a structured communication reference provided by the creditor to identify the referred transaction.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Document_EPC115-06_2023_V1.0_SCT_InterPSP">
    <xs:complexContent>
      <xs:restriction base="Document">
        <xs:sequence>
          <xs:element name="FIToFICstmrCdtTrf" type="FIToFICustomerCreditTransferV08_EPC115-06_2023_V1.0_SCT_InterPSP">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation xml:lang="EN" source="Definition">
Scope
The FinancialInstitutionToFinancialInstitutionCustomerCreditTransfer message is sent by the debtor agent to the creditor agent, directly or through other agents and/or a payment clearing and settlement system. It is used to move funds from a debtor account to a creditor.

              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ExternalAccountIdentification1Code">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">External Account Identification 1Code</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">
Specifies the external account identification scheme name code in the format of character string with a maximum length of 4 characters.
The list of valid codes is an external code list published separately.
External code sets can be downloaded from www.iso20022.org.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalCashClearingSystem1Code">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">External Cash Clearing System 1Code</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">
Specifies the cash clearing system, as published in an external cash clearing system code list.
External code sets can be downloaded from www.iso20022.org.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalCategoryPurpose1Code">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">External Category Purpose 1Code</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">
Specifies the category purpose, as published in an external category purpose code list.
External code sets can be downloaded from www.iso20022.org.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalCategoryPurpose1Code_EPC115-06_2023_V1.0_SCT_InterPSP">
    <xs:restriction base="ExternalCategoryPurpose1Code">
      <xs:enumeration value="FCIN">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Definition">Transaction is related to the payment of a fee and interest.</xs:documentation>
          <xs:documentation xml:lang="EN" source="Name">FeeCollectionAndInterest</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FCOL">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Definition">A service that is settling card transaction related fees between two parties.</xs:documentation>
          <xs:documentation xml:lang="EN" source="Name">FeeCollection</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="INTE">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Definition">Transaction is the payment of interest.</xs:documentation>
          <xs:documentation xml:lang="EN" source="Name">Interest</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalLocalInstrument1Code">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">External Local Instrument 1Code</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">
Specifies the external local instrument code in the format of character string with a maximum length of 35 characters.
The list of valid codes is an external code list published separately.
External code sets can be downloaded from www.iso20022.org.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalServiceLevel1Code">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">External Service Level 1Code</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">
Specifies the external service level code in the format of character string with a maximum length of 4 characters.
The list of valid codes is an external code list published separately.
External code sets can be downloaded from www.iso20022.org.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalServiceLevel1Code_EPC115-06_2023_V1.0_SCT_InterPSP">
    <xs:restriction base="ExternalServiceLevel1Code">
      <xs:enumeration value="SEPA">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Definition">Payment must be executed following the Single Euro Payments Area scheme.</xs:documentation>
          <xs:documentation xml:lang="EN" source="Name">SingleEuroPaymentsArea</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FinancialInstitutionIdentification18">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Financial Institution Identification 18</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Specifies the details to identify a financial institution.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BICFI" type="BICFIDec2014Identifier" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">BICFI</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification18_EPC115-06_2023_V1.0_SCT_InterPSP">
    <xs:complexContent>
      <xs:restriction base="FinancialInstitutionIdentification18">
        <xs:sequence>
          <xs:element name="BICFI" type="BICFIDec2014Identifier"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FIToFICustomerCreditTransferV08">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">FITo FICustomer Credit Transfer V08</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">
Scope
The FinancialInstitutionToFinancialInstitutionCustomerCreditTransfer message is sent by the debtor agent to the creditor agent, directly or through other agents and/or a payment clearing and settlement system. It is used to move funds from a debtor account to a creditor.
Usage
The FIToFICustomerCreditTransfer message is exchanged between agents and can contain one or more customer credit transfer instructions.
The FIToFICustomerCreditTransfer message does not allow for grouping: a CreditTransferTransactionInformation block must be present for each credit transfer transaction.
The FIToFICustomerCreditTransfer message can be used in different ways:
- If the instructing agent and the instructed agent wish to use their direct account relationship in the currency of the transfer then the message contains both the funds for the customer transfer(s) as well as the payment details;
- If the instructing agent and the instructed agent have no direct account relationship in the currency of the transfer, or do not wish to use their account relationship, then other (reimbursement) agents will be involved to cover for the customer transfer(s). The FIToFICustomerCreditTransfer contains only the payment details and the instructing agent must cover the customer transfer by sending a FinancialInstitutionCreditTransfer to a reimbursement agent. This payment method is called the Cover method;
- If more than two financial institutions are involved in the payment chain and if the FIToFICustomerCreditTransfer is sent from one financial institution to the next financial institution in the payment chain, then the payment method is called the Serial method.
The FIToFICustomerCreditTransfer message can be used in domestic and cross-border scenarios.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GrpHdr" type="GroupHeader93">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Group Header</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Set of characteristics shared by all individual transactions included in the message.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CdtTrfTxInf" type="CreditTransferTransaction39" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Credit Transfer Transaction Information</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Set of elements providing information specific to the individual credit transfer(s).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FIToFICustomerCreditTransferV08_EPC115-06_2023_V1.0_SCT_InterPSP">
    <xs:complexContent>
      <xs:restriction base="FIToFICustomerCreditTransferV08">
        <xs:sequence>
          <xs:element name="GrpHdr" type="GroupHeader93_EPC115-06_2023_V1.0_SCT_InterPSP">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="CdtTrfTxInf" type="CreditTransferTransaction39_EPC115-06_2023_V1.0_SCT_InterPSP" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericAccountIdentification1">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Generic Account Identification 1</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Information related to a generic account identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Id" type="Max34Text">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Identification</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Identification assigned by an institution.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SchmeNm" type="AccountSchemeName1Choice" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Scheme Name</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Name of the identification scheme.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Issr" type="Max35Text" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Issuer</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Entity that assigns the identification.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupHeader93">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Group Header 93</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Set of characteristics shared by all individual transactions included in the message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Message Identification</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">
Point to point reference, as assigned by the instructing party, and sent to the next party in the chain to unambiguously identify the message.
Usage: The instructing party has to make sure that MessageIdentification is unique per instructed party for a pre-agreed period.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CreDtTm" type="ISODateTime">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Creation Date Time</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Date and time at which the message was created.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NbOfTxs" type="Max15NumericText">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Number Of Transactions</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Number of individual transactions contained in the message.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TtlIntrBkSttlmAmt" type="ActiveCurrencyAndAmount" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Total Interbank Settlement Amount</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Total amount of money moved between the instructing agent and the instructed agent.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IntrBkSttlmDt" type="ISODate" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Interbank Settlement Date</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Date on which the amount of money ceases to be available to the agent that owes it and when the amount of money becomes available to the agent to which it is due.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SttlmInf" type="SettlementInstruction7">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Settlement Information</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Specifies the details on how the settlement of the transaction(s) between the instructing agent and the instructed agent is completed.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PmtTpInf" type="PaymentTypeInformation28" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Payment Type Information</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Set of elements used to further specify the type of transaction.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification6" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Instructing Agent</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Agent that instructs the next party in the chain to carry out the (set of) instruction(s).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification6" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Instructed Agent</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Agent that is instructed by the previous party in the chain to carry out the (set of) instruction(s).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupHeader93_EPC115-06_2023_V1.0_SCT_InterPSP">
    <xs:complexContent>
      <xs:restriction base="GroupHeader93">
        <xs:sequence>
          <xs:element name="MsgId" type="Max35Text">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="CreDtTm" type="ISODateTime">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="NbOfTxs" type="Max15NumericText">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="TtlIntrBkSttlmAmt" type="ActiveCurrencyAndAmount_EPC115-06_2023_V1.0_SCT_InterPSP">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Mandatory.</xs:documentation>
              <xs:documentation source="Usage Rule">Only ‘EUR’ is allowed.</xs:documentation>
              <xs:documentation source="Usage Rule">Amount must be 0.01 or more and 999999999999999.99 or less.</xs:documentation>
              <xs:documentation source="Format Rule">The fractional part has a maximum of two digits.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IntrBkSttlmDt" type="ISODate">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Mandatory.</xs:documentation>
              <xs:documentation source="Rulebook">AT-Q010 Settlement date of the inter-PSP fee/or compensation amount.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SttlmInf" type="SettlementInstruction7_EPC115-06_2023_V1.0_SCT_InterPSP">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="PmtTpInf" type="PaymentTypeInformation28_EPC115-06_2023_V1.0_SCT_InterPSP" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">'Payment Type Information' must be provided either here or under 'Credit Transfer Transaction Information'.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification6_EPC115-06_2023_V1.0_SCT_InterPSP" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Only 'BICFI' is allowed.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification6_EPC115-06_2023_V1.0_SCT_InterPSP" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Only 'BICFI' is allowed.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="IBAN2007Identifier">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">IBAN2007Identifier</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">An identifier used internationally by financial institutions to uniquely identify the account of a customer at a financial institution, as described in the latest edition of the international standard ISO 13616: 2007 - "Banking and related financial services - International Bank Account Number (IBAN)".</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISODate">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">ISODate</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">ISODate Time</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">
A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:complexType name="LocalInstrument2Choice">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Local Instrument 2Choice</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Set of elements that further identifies the type of local instruments being requested by the initiating party.</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="Cd" type="ExternalLocalInstrument1Code">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Code</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Specifies the local instrument, as published in an external local instrument code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Prtry" type="Max35Text">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Proprietary</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Specifies the local instrument, as a proprietary code.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="LocalInstrument2Choice_EPC115-06_2023_V1.0_SCT_InterPSP">
    <xs:complexContent>
      <xs:restriction base="LocalInstrument2Choice">
        <xs:choice>
          <xs:element name="Cd" type="ExternalLocalInstrument1Code">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="Prtry" type="Max35Text">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="Max140Text">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Max 140Text</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="140"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max140Text_EPC115-06_2023_V1.0_SCT_InterPSP">
    <xs:restriction base="Max140Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max15NumericText">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Max 15Numeric Text</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Specifies a numeric string with a maximum length of 15 digits.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,15}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max34Text">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Max 34Text</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Specifies a character string with a maximum length of 34 characters.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="34"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Max 35Text</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OrganisationIdentification29">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Organisation Identification 29</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Unique and unambiguous way to identify an organisation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AnyBIC" type="AnyBICDec2014Identifier" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Any BIC</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Business identification code of the organisation.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Party38Choice">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Party 38Choice</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Nature or use of the account.</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="OrgId" type="OrganisationIdentification29">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Organisation Identification</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Unique and unambiguous way to identify an organisation.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Party38Choice_EPC115-06_2023_V1.0_SCT_InterPSP">
    <xs:complexContent>
      <xs:restriction base="Party38Choice">
        <xs:choice>
          <xs:element name="OrgId" type="OrganisationIdentification29">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Only ‘AnyBIC’ is allowed.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyIdentification135">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Party Identification 135</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Specifies the identification of a person or an organisation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Nm" type="Max140Text" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Name</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Id" type="Party38Choice" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Identification</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Unique and unambiguous identification of a party.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification135_EPC115-06_2023_V1.0_SCT_InterPSP">
    <xs:complexContent>
      <xs:restriction base="PartyIdentification135">
        <xs:sequence>
          <xs:element name="Nm" type="Max140Text_EPC115-06_2023_V1.0_SCT_InterPSP">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Mandatory.</xs:documentation>
              <xs:documentation source="Usage Rule">Only to be populated with AT-D002 BIC code of the Originator PSP.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Id" type="Party38Choice_EPC115-06_2023_V1.0_SCT_InterPSP">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Mandatory.</xs:documentation>
              <xs:documentation source="Usage Rule">Originator’s Identification Code.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyIdentification135_EPC115-06_2023_V1.0_SCT_InterPSP_2">
    <xs:complexContent>
      <xs:restriction base="PartyIdentification135">
        <xs:sequence>
          <xs:element name="Nm" type="Max140Text">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Mandatory.</xs:documentation>
              <xs:documentation source="Usage Rule">Only to be populated with AT-C002 BIC code of the Beneficiary PSP.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Id" type="Party38Choice_EPC115-06_2023_V1.0_SCT_InterPSP">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Mandatory.</xs:documentation>
              <xs:documentation source="Usage Rule">Beneficiary Identification Code.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PaymentIdentification7">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Payment Identification 7</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Provides further means of referencing a payment transaction.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="InstrId" type="Max35Text" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Instruction Identification</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">
Unique identification, as assigned by an instructing party for an instructed party, to unambiguously identify the instruction.

Usage: The instruction identification is a point to point reference that can be used between the instructing party and the instructed party to refer to the individual instruction. It can be included in several messages related to the instruction.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EndToEndId" type="Max35Text">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">End To End Identification</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">
Unique identification, as assigned by the initiating party, to unambiguously identify the transaction. This identification is passed on, unchanged, throughout the entire end-to-end chain.

Usage: The end-to-end identification can be used for reconciliation or to link tasks relating to the transaction. It can be included in several messages related to the transaction.

Usage: In case there are technical limitations to pass on multiple references, the end-to-end identification must be passed on throughout the entire end-to-end chain.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TxId" type="Max35Text" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Transaction Identification</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">
Unique identification, as assigned by the first instructing agent, to unambiguously identify the transaction that is passed on, unchanged, throughout the entire interbank chain. 
Usage: The transaction identification can be used for reconciliation, tracking or to link tasks relating to the transaction on the interbank level. 
Usage: The instructing agent has to make sure that the transaction identification is unique for a pre-agreed period.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentIdentification7_EPC115-06_2023_V1.0_SCT_InterPSP">
    <xs:complexContent>
      <xs:restriction base="PaymentIdentification7">
        <xs:sequence>
          <xs:element name="InstrId" type="Max35Text" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="EndToEndId" type="Max35Text">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Rulebook">AT-Q002 The specific SCT Inquiry reference of the Participant initiating the SCT inquiry.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TxId" type="Max35Text">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Mandatory.</xs:documentation>
              <xs:documentation source="Usage Rule">The Originator PSP's reference of the SEPA Credit Transfer Transaction.</xs:documentation>
              <xs:documentation source="Usage Rule">Must contain a reference that is meaningful to the Originator’s PSP and is unique over time.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PaymentTypeInformation28">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Payment Type Information 28</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Provides further details of the type of payment.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SvcLvl" type="ServiceLevel8Choice" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Service Level</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Agreement under which or rules under which the transaction should be processed.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LclInstrm" type="LocalInstrument2Choice" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Local Instrument</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">
User community specific instrument.

Usage: This element is used to specify a local instrument, local clearing option and/or further qualify the service or service level.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CtgyPurp" type="CategoryPurpose1Choice" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Category Purpose</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">
Specifies the high level purpose of the instruction based on a set of pre-defined categories.
Usage: This is used by the initiating party to provide information concerning the processing of the payment. It is likely to trigger special processing by any of the agents involved in the payment chain.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentTypeInformation28_EPC115-06_2023_V1.0_SCT_InterPSP">
    <xs:complexContent>
      <xs:restriction base="PaymentTypeInformation28">
        <xs:sequence>
          <xs:element name="SvcLvl" type="ServiceLevel8Choice_EPC115-06_2023_V1.0_SCT_InterPSP">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Mandatory.</xs:documentation>
              <xs:documentation source="Usage Rule">Only one occurrence is allowed.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LclInstrm" type="LocalInstrument2Choice_EPC115-06_2023_V1.0_SCT_InterPSP" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Only used if bilaterally agreed between the Debtor PSP and the Creditor PSP.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CtgyPurp" type="CategoryPurpose1Choice_EPC115-06_2023_V1.0_SCT_InterPSP">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Rulebook">AT-Q011 Category purpose of the inter-PSP fee and/or compensation payment.</xs:documentation>
              <xs:documentation source="Usage Rule">Mandatory.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PaymentTypeInformation28_EPC115-06_2023_V1.0_SCT_InterPSP_2">
    <xs:complexContent>
      <xs:restriction base="PaymentTypeInformation28">
        <xs:sequence>
          <xs:element name="SvcLvl" type="ServiceLevel8Choice_EPC115-06_2023_V1.0_SCT_InterPSP_2">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Mandatory.</xs:documentation>
              <xs:documentation source="Usage Rule">Only one occurrence is allowed.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LclInstrm" type="LocalInstrument2Choice_EPC115-06_2023_V1.0_SCT_InterPSP" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Only used if bilaterally agreed between the Debtor PSP and the Creditor PSP.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CtgyPurp" type="CategoryPurpose1Choice_EPC115-06_2023_V1.0_SCT_InterPSP">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation xml:lang="EN" source="Rulebook">AT-Q011 Category Purpose of the inter-PSP fee and/or compensation payment</xs:documentation>
              <xs:documentation source="Usage Rule">Mandatory.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RemittanceInformation16">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Remittance Information 16</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Information supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Strd" type="StructuredRemittanceInformation16" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Structured</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Information supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in a structured form.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceInformation16_EPC115-06_2023_V1.0_SCT_InterPSP">
    <xs:complexContent>
      <xs:restriction base="RemittanceInformation16">
        <xs:sequence>
          <xs:element name="Strd" type="StructuredRemittanceInformation16_EPC115-06_2023_V1.0_SCT_InterPSP">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Mandatory.</xs:documentation>
              <xs:documentation source="Usage Rule">Only one occurrence of ‘Structured’ is allowed.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ServiceLevel8Choice">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Service Level 8Choice</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Specifies the service level of the transaction.</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="Cd" type="ExternalServiceLevel1Code">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Code</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Specifies a pre-agreed service or level of service between the parties, as published in an external service level code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ServiceLevel8Choice_EPC115-06_2023_V1.0_SCT_InterPSP">
    <xs:complexContent>
      <xs:restriction base="ServiceLevel8Choice">
        <xs:choice>
          <xs:element name="Cd" type="ExternalServiceLevel1Code_EPC115-06_2023_V1.0_SCT_InterPSP">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Rulebook">AT-T001 The identification code of the Scheme.</xs:documentation>
              <xs:documentation source="Usage Rule">Only "SEPA" is allowed.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ServiceLevel8Choice_EPC115-06_2023_V1.0_SCT_InterPSP_2">
    <xs:complexContent>
      <xs:restriction base="ServiceLevel8Choice">
        <xs:choice>
          <xs:element name="Cd" type="ExternalServiceLevel1Code_EPC115-06_2023_V1.0_SCT_InterPSP">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Rulebook">AT-T001 The identification code of the SEPA electronic credit transfer Scheme.</xs:documentation>
              <xs:documentation source="Usage Rule">Only "SEPA" is allowed.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SettlementInstruction7">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Settlement Instruction 7</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Provides further details on the settlement of the instruction.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SttlmMtd" type="SettlementMethod1Code">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Settlement Method</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Method used to settle the (batch of) payment instructions.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SttlmAcct" type="CashAccount38" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Settlement Account</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">A specific purpose account used to post debit and credit entries as a result of the transaction.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ClrSys" type="ClearingSystemIdentification3Choice" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Clearing System</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Specification of a pre-agreed offering between clearing agents or the channel through which the payment instruction is processed.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SettlementInstruction7_EPC115-06_2023_V1.0_SCT_InterPSP">
    <xs:complexContent>
      <xs:restriction base="SettlementInstruction7">
        <xs:sequence>
          <xs:element name="SttlmMtd" type="SettlementMethod1Code">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Only "CLRG", "INGA" and "INDA" are allowed.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SttlmAcct" type="CashAccount38" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Only ‘Identification’ is allowed.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ClrSys" type="ClearingSystemIdentification3Choice_EPC115-06_2023_V1.0_SCT_InterPSP" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="SettlementMethod1Code">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Settlement Method 1Code</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Specifies the method used to settle the credit transfer instruction.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="CLRG">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">ClearingSystem</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Settlement is done through a payment clearing system.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="INDA">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">InstructedAgent</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Settlement is done by the agent instructed to execute a payment instruction.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="INGA">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">InstructingAgent</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Settlement is done by the agent instructing and forwarding the payment to the next party in the payment chain.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="StructuredRemittanceInformation16">
    <xs:annotation>
      <xs:documentation xml:lang="EN" source="Name">Structured Remittance Information 16</xs:documentation>
      <xs:documentation xml:lang="EN" source="Definition">Information supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in a structured form.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CdtrRefInf" type="CreditorReferenceInformation2" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN" source="Name">Creditor Reference Information</xs:documentation>
          <xs:documentation xml:lang="EN" source="Definition">Reference information provided by the creditor to allow the identification of the underlying documents.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredRemittanceInformation16_EPC115-06_2023_V1.0_SCT_InterPSP">
    <xs:complexContent>
      <xs:restriction base="StructuredRemittanceInformation16">
        <xs:sequence>
          <xs:element name="CdtrRefInf" type="CreditorReferenceInformation2_EPC115-06_2023_V1.0_SCT_InterPSP">
            <xs:annotation>
              <xs:documentation source="Yellow Field"/>
              <xs:documentation source="Usage Rule">Mandatory.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
