backend/app/schemas_xsd/camt.019.001.07.ch.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
(C) Copyright 2022, SIX Interbank Clearing Ltd
XML Schema used in the Swiss Interbank space:
	Suffix part 1: .ch:	Identification as a Swiss (CH) version
	Suffix part 2: .02:	Version of this scheme

Based on ISO camt.019.001.07 (urn:iso:std:iso:20022:tech:xsd:camt.019.001.07)
-->
<xs:schema xmlns="http://www.six-interbank-clearing.com/de/camt.019.001.07.ch.02"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.six-interbank-clearing.com/de/camt.019.001.07.ch.02"
    elementFormDefault="qualified">
  <xs:element name="Document" type="Document_CH_camt019"/>
  <xs:simpleType name="ActiveCurrencyCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BusinessDay8">
    <xs:sequence>
      <xs:element name="SysId" type="SystemIdentification2Choice" maxOccurs="unbounded"/>
      <xs:element name="BizDayOrErr" type="BusinessDayReportOrError10Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BusinessDay8_CH_camt019">
    <xs:complexContent>
      <xs:restriction base="BusinessDay8">
        <xs:sequence>
          <xs:element name="SysId" type="SystemIdentification2Choice_CH_camt019"/>
          <xs:element name="BizDayOrErr" type="BusinessDayReportOrError10Choice_CH_camt019"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BusinessDay9">
    <xs:sequence>
      <xs:element name="SysDt" type="DateAndDateTime2Choice" minOccurs="0"/>
      <xs:element name="SysSts" type="SystemStatus3" minOccurs="0"/>
      <xs:element name="SysInfPerCcy" type="SystemAvailabilityAndEvents3" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BusinessDay9_CH_camt019">
    <xs:complexContent>
      <xs:restriction base="BusinessDay9">
        <xs:sequence>
          <xs:element name="SysSts" type="SystemStatus3_CH_camt019" minOccurs="0"/>
          <xs:element name="SysInfPerCcy" type="SystemAvailabilityAndEvents3_CH_camt019"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BusinessDayReportOrError10Choice">
    <xs:choice>
      <xs:element name="BizDayInf" type="BusinessDay9"/>
      <xs:element name="BizErr" type="ErrorHandling5" maxOccurs="unbounded"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="BusinessDayReportOrError10Choice_CH_camt019">
    <xs:complexContent>
      <xs:restriction base="BusinessDayReportOrError10Choice">
        <xs:choice>
          <xs:element name="BizDayInf" type="BusinessDay9_CH_camt019"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BusinessDayReportOrError9Choice">
    <xs:choice>
      <xs:element name="BizRpt" type="BusinessDay8" maxOccurs="unbounded"/>
      <xs:element name="OprlErr" type="ErrorHandling5" maxOccurs="unbounded"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="BusinessDayReportOrError9Choice_CH_camt019">
    <xs:complexContent>
      <xs:restriction base="BusinessDayReportOrError9Choice">
        <xs:choice>
          <xs:element name="BizRpt" type="BusinessDay8_CH_camt019"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ClosureReason2Choice">
    <xs:choice>
      <xs:element name="Cd" type="SystemClosureReason1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ClosureReason2Choice_CH_camt019">
    <xs:complexContent>
      <xs:restriction base="ClosureReason2Choice">
        <xs:choice>
          <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="CountryCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DateAndDateTime2Choice">
    <xs:choice>
      <xs:element name="Dt" type="ISODate"/>
      <xs:element name="DtTm" type="ISODateTime"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="DateTimePeriod1">
    <xs:sequence>
      <xs:element name="FrDtTm" type="ISODateTime"/>
      <xs:element name="ToDtTm" type="ISODateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateTimePeriod1Choice">
    <xs:choice>
      <xs:element name="FrDtTm" type="ISODateTime"/>
      <xs:element name="ToDtTm" type="ISODateTime"/>
      <xs:element name="DtTmRg" type="DateTimePeriod1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="RtrBizDayInf" type="ReturnBusinessDayInformationV07"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document_CH_camt019">
    <xs:complexContent>
      <xs:restriction base="Document">
        <xs:sequence>
          <xs:element name="RtrBizDayInf" type="ReturnBusinessDayInformationV07_CH_camt019"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ErrorHandling3Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalSystemErrorHandling1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ErrorHandling5">
    <xs:sequence>
      <xs:element name="Err" type="ErrorHandling3Choice"/>
      <xs:element name="Desc" type="Max140Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ExternalEnquiryRequestType1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalMarketInfrastructure1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalPaymentControlRequestType1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalSystemErrorHandling1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalSystemEventType1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="GenericIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericIdentification1_CH_camt019">
    <xs:complexContent>
      <xs:restriction base="GenericIdentification1">
        <xs:sequence>
          <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="ISOTime">
    <xs:restriction base="xs:time"/>
  </xs:simpleType>
  <xs:complexType name="MarketInfrastructureIdentification1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalMarketInfrastructure1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="MarketInfrastructureIdentification1Choice_CH_camt019">
    <xs:complexContent>
      <xs:restriction base="MarketInfrastructureIdentification1Choice">
        <xs:choice>
          <xs:element name="Cd" type="ExternalMarketInfrastructure1Code"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="Max140Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="140"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max350Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="350"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_CH_camt019">
    <xs:restriction base="Max35Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="[A-Za-z0-9+?/:()\.,&apos;\-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MessageHeader7">
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text"/>
      <xs:element name="CreDtTm" type="ISODateTime" minOccurs="0"/>
      <xs:element name="ReqTp" type="RequestType4Choice" minOccurs="0"/>
      <xs:element name="OrgnlBizQry" type="OriginalBusinessQuery1" minOccurs="0"/>
      <xs:element name="QryNm" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageHeader7_CH_camt019">
    <xs:complexContent>
      <xs:restriction base="MessageHeader7">
        <xs:sequence>
          <xs:element name="MsgId" type="Max35Text_CH_camt019"/>
          <xs:element name="CreDtTm" type="ISODateTime"/>
          <xs:element name="QryNm" type="Max35Text"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OriginalBusinessQuery1">
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text"/>
      <xs:element name="MsgNmId" type="Max35Text" minOccurs="0"/>
      <xs:element name="CreDtTm" type="ISODateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RequestType4Choice">
    <xs:choice>
      <xs:element name="PmtCtrl" type="ExternalPaymentControlRequestType1Code"/>
      <xs:element name="Enqry" type="ExternalEnquiryRequestType1Code"/>
      <xs:element name="Prtry" type="GenericIdentification1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ReturnBusinessDayInformationV07">
    <xs:sequence>
      <xs:element name="MsgHdr" type="MessageHeader7"/>
      <xs:element name="RptOrErr" type="BusinessDayReportOrError9Choice"/>
      <xs:element name="SplmtryData" type="SupplementaryData1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReturnBusinessDayInformationV07_CH_camt019">
    <xs:complexContent>
      <xs:restriction base="ReturnBusinessDayInformationV07">
        <xs:sequence>
          <xs:element name="MsgHdr" type="MessageHeader7_CH_camt019"/>
          <xs:element name="RptOrErr" type="BusinessDayReportOrError9Choice_CH_camt019"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="SICText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}\p{IsLatinExtended-A}€ȘșȚț-[\p{C}]]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SupplementaryData1">
    <xs:sequence>
      <xs:element name="PlcAndNm" type="Max350Text" minOccurs="0"/>
      <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SupplementaryDataEnvelope1">
    <xs:sequence>
      <xs:any namespace="##any" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SystemAvailabilityAndEvents3">
    <xs:sequence>
      <xs:element name="SysCcy" type="ActiveCurrencyCode" minOccurs="0"/>
      <xs:element name="SsnPrd" type="TimePeriod1" minOccurs="0"/>
      <xs:element name="Evt" type="SystemEvent3" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ClsrInf" type="SystemClosure2" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SystemAvailabilityAndEvents3_CH_camt019">
    <xs:complexContent>
      <xs:restriction base="SystemAvailabilityAndEvents3">
        <xs:sequence>
          <xs:element name="SysCcy" type="ActiveCurrencyCode"/>
          <xs:element name="Evt" type="SystemEvent3_CH_camt019" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="ClsrInf" type="SystemClosure2_CH_camt019" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SystemClosure2">
    <xs:sequence>
      <xs:element name="Prd" type="DateTimePeriod1Choice" minOccurs="0"/>
      <xs:element name="Rsn" type="ClosureReason2Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SystemClosure2_CH_camt019">
    <xs:complexContent>
      <xs:restriction base="SystemClosure2">
        <xs:sequence>
          <xs:element name="Prd" type="DateTimePeriod1Choice"/>
          <xs:element name="Rsn" type="ClosureReason2Choice_CH_camt019"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="SystemClosureReason1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADTW"/>
      <xs:enumeration value="BHOL"/>
      <xs:enumeration value="NOOP"/>
      <xs:enumeration value="RCVR"/>
      <xs:enumeration value="SMTN"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SystemEvent3">
    <xs:sequence>
      <xs:element name="Tp" type="SystemEventType4Choice"/>
      <xs:element name="SchdldTm" type="ISODateTime"/>
      <xs:element name="FctvTm" type="ISODateTime" minOccurs="0"/>
      <xs:element name="StartTm" type="ISODateTime" minOccurs="0"/>
      <xs:element name="EndTm" type="ISODateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SystemEvent3_CH_camt019">
    <xs:complexContent>
      <xs:restriction base="SystemEvent3">
        <xs:sequence>
          <xs:element name="Tp" type="SystemEventType4Choice_CH_camt019"/>
          <xs:element name="SchdldTm" type="ISODateTime"/>
          <xs:element name="FctvTm" type="ISODateTime" minOccurs="0"/>
          <xs:element name="StartTm" type="ISODateTime" minOccurs="0"/>
          <xs:element name="EndTm" type="ISODateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SystemEventType4Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalSystemEventType1Code"/>
      <xs:element name="Prtry" type="GenericIdentification1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="SystemEventType4Choice_CH_camt019">
    <xs:complexContent>
      <xs:restriction base="SystemEventType4Choice">
        <xs:choice>
          <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SystemIdentification2Choice">
    <xs:choice>
      <xs:element name="MktInfrstrctrId" type="MarketInfrastructureIdentification1Choice"/>
      <xs:element name="Ctry" type="CountryCode"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="SystemIdentification2Choice_CH_camt019">
    <xs:complexContent>
      <xs:restriction base="SystemIdentification2Choice">
        <xs:choice>
          <xs:element name="MktInfrstrctrId" type="MarketInfrastructureIdentification1Choice_CH_camt019"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SystemStatus2Choice">
    <xs:choice>
      <xs:element name="Cd" type="SystemStatus2Code"/>
      <xs:element name="Prtry" type="GenericIdentification1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="SystemStatus2Choice_CH_camt019">
    <xs:complexContent>
      <xs:restriction base="SystemStatus2Choice">
        <xs:choice>
          <xs:element name="Prtry" type="GenericIdentification1_CH_camt019"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="SystemStatus2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTV"/>
      <xs:enumeration value="CLSD"/>
      <xs:enumeration value="CLSG"/>
      <xs:enumeration value="SUSP"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SystemStatus3">
    <xs:sequence>
      <xs:element name="Sts" type="SystemStatus2Choice"/>
      <xs:element name="VldtyTm" type="DateTimePeriod1Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SystemStatus3_CH_camt019">
    <xs:complexContent>
      <xs:restriction base="SystemStatus3">
        <xs:sequence>
          <xs:element name="Sts" type="SystemStatus2Choice_CH_camt019"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TimePeriod1">
    <xs:sequence>
      <xs:element name="FrTm" type="ISOTime"/>
      <xs:element name="ToTm" type="ISOTime"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
