backend/app/schemas_xsd/camt.005.001.08.ch.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
(C) Copyright 2021, SIX Interbank Clearing Ltd
XML Schema used in the Swiss Interbank space:
	Suffix part 1: .ch:	Identification as a Swiss (CH) version
	Suffix part 2: .01:   Version of this scheme

Based on ISO camt.005.001.08 (urn:iso:std:iso:20022:tech:xsd:camt.005.001.08)
-->
<xs:schema xmlns="http://www.six-interbank-clearing.com/de/camt.005.001.08.ch.01"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.six-interbank-clearing.com/de/camt.005.001.08.ch.01"
    elementFormDefault="qualified">
  <xs:element name="Document" type="Document_CH_camt005"/>
  <xs:complexType name="AccountCashEntryReturnCriteria3">
    <xs:sequence>
      <xs:element name="NtryRefInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="AcctTpInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="NtryAmtInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="AcctCcyInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="NtryStsInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="NtryDtInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="AcctSvcrInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="AcctOwnrInd" type="RequestedIndicator" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountIdentification4Choice">
    <xs:choice>
      <xs:element name="IBAN" type="IBAN2007Identifier"/>
      <xs:element name="Othr" type="GenericAccountIdentification1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AccountIdentification4Choice_CH_camt005">
    <xs:complexContent>
      <xs:restriction base="AccountIdentification4Choice">
        <xs:choice>
          <xs:element name="Othr" type="GenericAccountIdentification1_CH_camt005"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AccountIdentificationSearchCriteria2Choice">
    <xs:choice>
      <xs:element name="EQ" type="AccountIdentification4Choice"/>
      <xs:element name="CTTxt" type="Max35Text"/>
      <xs:element name="NCTTxt" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AccountIdentificationSearchCriteria2Choice_CH_camt005">
    <xs:complexContent>
      <xs:restriction base="AccountIdentificationSearchCriteria2Choice">
        <xs:choice>
          <xs:element name="EQ" type="AccountIdentification4Choice_CH_camt005"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AccountSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ActiveAmountRange3Choice">
    <xs:choice>
      <xs:element name="ImpldCcyAndAmtRg" type="ImpliedCurrencyAndAmountRange1"/>
      <xs:element name="CcyAndAmtRg" type="ActiveCurrencyAndAmountRange3"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ActiveAmountRange3Choice_CH_camt005">
    <xs:complexContent>
      <xs:restriction base="ActiveAmountRange3Choice">
        <xs:choice>
          <xs:element name="CcyAndAmtRg" type="ActiveCurrencyAndAmountRange3_CH_camt005"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ActiveCurrencyAndAmountRange3">
    <xs:sequence>
      <xs:element name="Amt" type="ImpliedCurrencyAmountRange1Choice"/>
      <xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
      <xs:element name="Ccy" type="ActiveCurrencyCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActiveCurrencyAndAmountRange3_CH_camt005">
    <xs:complexContent>
      <xs:restriction base="ActiveCurrencyAndAmountRange3">
        <xs:sequence>
          <xs:element name="Amt" type="ImpliedCurrencyAmountRange1Choice_CH_camt005"/>
          <xs:element name="Ccy" type="ActiveCurrencyCode"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ActiveCurrencyCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ActiveOrHistoricAmountRange2Choice">
    <xs:choice>
      <xs:element name="ImpldCcyAndAmtRg" type="ImpliedCurrencyAndAmountRange1"/>
      <xs:element name="CcyAndAmtRg" type="ActiveOrHistoricCurrencyAndAmountRange2"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ActiveOrHistoricCurrencyAndAmountRange2">
    <xs:sequence>
      <xs:element name="Amt" type="ImpliedCurrencyAmountRange1Choice"/>
      <xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
      <xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ActiveOrHistoricCurrencyCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AddressType2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADDR"/>
      <xs:enumeration value="BIZZ"/>
      <xs:enumeration value="DLVY"/>
      <xs:enumeration value="HOME"/>
      <xs:enumeration value="MLTO"/>
      <xs:enumeration value="PBOX"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AddressType3Choice">
    <xs:choice>
      <xs:element name="Cd" type="AddressType2Code"/>
      <xs:element name="Prtry" type="GenericIdentification30"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AmountRangeBoundary1">
    <xs:sequence>
      <xs:element name="BdryAmt" type="ImpliedCurrencyAndAmount"/>
      <xs:element name="Incl" type="YesNoIndicator"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AnyBICDec2014Identifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BICFIDec2014Identifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification6">
    <xs:sequence>
      <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18"/>
      <xs:element name="BrnchId" type="BranchData3" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification6_CH_camt005">
    <xs:complexContent>
      <xs:restriction base="BranchAndFinancialInstitutionIdentification6">
        <xs:sequence>
          <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18_CH_camt005"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification6_CH_camt005_2">
    <xs:complexContent>
      <xs:restriction base="BranchAndFinancialInstitutionIdentification6">
        <xs:sequence>
          <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18_CH_camt005_2"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BranchData3">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text" minOccurs="0"/>
      <xs:element name="LEI" type="LEIIdentifier" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress24" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccountEntrySearch6">
    <xs:sequence>
      <xs:element name="AcctId" type="AccountIdentificationSearchCriteria2Choice" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="NtryAmt" type="ActiveOrHistoricAmountRange2Choice" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="NtryAmtCcy" type="ActiveOrHistoricCurrencyCode" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
      <xs:element name="NtrySts" type="EntryStatus1Code" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="NtryDt" type="DateAndDateTimeSearch3Choice" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AcctOwnr" type="PartyIdentification135" minOccurs="0"/>
      <xs:element name="AcctSvcr" type="BranchAndFinancialInstitutionIdentification6" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccountEntrySearch6_CH_camt005">
    <xs:complexContent>
      <xs:restriction base="CashAccountEntrySearch6">
        <xs:sequence>
          <xs:element name="AcctId" type="AccountIdentificationSearchCriteria2Choice_CH_camt005" minOccurs="0"/>
          <xs:element name="NtryDt" type="DateAndDateTimeSearch3Choice_CH_camt005_2" minOccurs="0"/>
          <xs:element name="AcctOwnr" type="PartyIdentification135_CH_camt005"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="CashPaymentStatus2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FINL"/>
      <xs:enumeration value="PDNG"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ClearingSystemIdentification2Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ClearingSystemIdentification2Choice_CH_camt005">
    <xs:complexContent>
      <xs:restriction base="ClearingSystemIdentification2Choice">
        <xs:choice>
          <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ClearingSystemIdentification3Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalCashClearingSystem1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2">
    <xs:sequence>
      <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice" minOccurs="0"/>
      <xs:element name="MmbId" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2_CH_camt005">
    <xs:complexContent>
      <xs:restriction base="ClearingSystemMemberIdentification2">
        <xs:sequence>
          <xs:element name="MmbId" type="Max35Text"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2_CH_camt005_2">
    <xs:complexContent>
      <xs:restriction base="ClearingSystemMemberIdentification2">
        <xs:sequence>
          <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice_CH_camt005" minOccurs="0"/>
          <xs:element name="MmbId" type="Max35Text"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Contact4">
    <xs:sequence>
      <xs:element name="NmPrfx" type="NamePrefix2Code" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PhneNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="MobNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="FaxNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="EmailAdr" type="Max2048Text" minOccurs="0"/>
      <xs:element name="EmailPurp" type="Max35Text" minOccurs="0"/>
      <xs:element name="JobTitl" type="Max35Text" minOccurs="0"/>
      <xs:element name="Rspnsblty" type="Max35Text" minOccurs="0"/>
      <xs:element name="Dept" type="Max70Text" minOccurs="0"/>
      <xs:element name="Othr" type="OtherContact1" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="PrefrdMtd" type="PreferredContactMethod1Code" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CountryCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CreditDebitCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CRDT"/>
      <xs:enumeration value="DBIT"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DateAndDateTimeSearch3Choice">
    <xs:choice>
      <xs:element name="DtTmSch" type="DateTimePeriod1Choice"/>
      <xs:element name="DtSch" type="DatePeriodSearch1Choice"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="DateAndDateTimeSearch3Choice_CH_camt005">
    <xs:complexContent>
      <xs:restriction base="DateAndDateTimeSearch3Choice">
        <xs:choice>
          <xs:element name="DtSch" type="DatePeriodSearch1Choice_CH_camt005"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DateAndDateTimeSearch3Choice_CH_camt005_2">
    <xs:complexContent>
      <xs:restriction base="DateAndDateTimeSearch3Choice">
        <xs:choice>
          <xs:element name="DtTmSch" type="DateTimePeriod1Choice_CH_camt005"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DateAndPlaceOfBirth1">
    <xs:sequence>
      <xs:element name="BirthDt" type="ISODate"/>
      <xs:element name="PrvcOfBirth" type="Max35Text" minOccurs="0"/>
      <xs:element name="CityOfBirth" type="Max35Text"/>
      <xs:element name="CtryOfBirth" type="CountryCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatePeriod2">
    <xs:sequence>
      <xs:element name="FrDt" type="ISODate"/>
      <xs:element name="ToDt" type="ISODate"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatePeriodSearch1Choice">
    <xs:choice>
      <xs:element name="FrDt" type="ISODate"/>
      <xs:element name="ToDt" type="ISODate"/>
      <xs:element name="FrToDt" type="DatePeriod2"/>
      <xs:element name="EQDt" type="ISODate"/>
      <xs:element name="NEQDt" type="ISODate"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="DatePeriodSearch1Choice_CH_camt005">
    <xs:complexContent>
      <xs:restriction base="DatePeriodSearch1Choice">
        <xs:choice>
          <xs:element name="FrToDt" type="DatePeriod2"/>
          <xs:element name="EQDt" type="ISODate"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DateTimePeriod1">
    <xs:sequence>
      <xs:element name="FrDtTm" type="ISODateTime"/>
      <xs:element name="ToDtTm" type="ISODateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateTimePeriod1Choice">
    <xs:choice>
      <xs:element name="FrDtTm" type="ISODateTime"/>
      <xs:element name="ToDtTm" type="ISODateTime"/>
      <xs:element name="DtTmRg" type="DateTimePeriod1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="DateTimePeriod1Choice_CH_camt005">
    <xs:complexContent>
      <xs:restriction base="DateTimePeriod1Choice">
        <xs:choice>
          <xs:element name="DtTmRg" type="DateTimePeriod1"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="GetTx" type="GetTransactionV08"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document_CH_camt005">
    <xs:complexContent>
      <xs:restriction base="Document">
        <xs:sequence>
          <xs:element name="GetTx" type="GetTransactionV08_CH_camt005"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="EntryStatus1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BOOK"/>
      <xs:enumeration value="FUTR"/>
      <xs:enumeration value="PDNG"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EntryTypeIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[BEOVW]{1,1}[0-9]{2,2}|DUM"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Exact4AlphaNumericText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z0-9]{4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalAccountIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalCashClearingSystem1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalClearingSystemIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalEnquiryRequestType1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalOrganisationIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalPaymentControlRequestType1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalPersonIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FinalStatusCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CAND"/>
      <xs:enumeration value="FNLD"/>
      <xs:enumeration value="RJTD"/>
      <xs:enumeration value="STLD"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FinalStatusCode_CH_camt005">
    <xs:restriction base="FinalStatusCode">
      <xs:enumeration value="CAND"/>
      <xs:enumeration value="STLD"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FinancialIdentificationSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification18">
    <xs:sequence>
      <xs:element name="BICFI" type="BICFIDec2014Identifier" minOccurs="0"/>
      <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2" minOccurs="0"/>
      <xs:element name="LEI" type="LEIIdentifier" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress24" minOccurs="0"/>
      <xs:element name="Othr" type="GenericFinancialIdentification1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification18_CH_camt005">
    <xs:complexContent>
      <xs:restriction base="FinancialInstitutionIdentification18">
        <xs:sequence>
          <xs:element name="BICFI" type="BICFIDec2014Identifier" minOccurs="0"/>
          <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2_CH_camt005" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification18_CH_camt005_2">
    <xs:complexContent>
      <xs:restriction base="FinancialInstitutionIdentification18">
        <xs:sequence>
          <xs:element name="BICFI" type="BICFIDec2014Identifier" minOccurs="0"/>
          <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2_CH_camt005_2" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FromToAmountRange1">
    <xs:sequence>
      <xs:element name="FrAmt" type="AmountRangeBoundary1"/>
      <xs:element name="ToAmt" type="AmountRangeBoundary1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericAccountIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max34Text"/>
      <xs:element name="SchmeNm" type="AccountSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericAccountIdentification1_CH_camt005">
    <xs:complexContent>
      <xs:restriction base="GenericAccountIdentification1">
        <xs:sequence>
          <xs:element name="Id" type="Max34Text"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericFinancialIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="FinancialIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericIdentification1_CH_camt005">
    <xs:complexContent>
      <xs:restriction base="GenericIdentification1">
        <xs:sequence>
          <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericIdentification30">
    <xs:sequence>
      <xs:element name="Id" type="Exact4AlphaNumericText"/>
      <xs:element name="Issr" type="Max35Text"/>
      <xs:element name="SchmeNm" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericOrganisationIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericOrganisationIdentification1_CH_camt005">
    <xs:complexContent>
      <xs:restriction base="GenericOrganisationIdentification1">
        <xs:sequence>
          <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericPersonIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetTransactionV08">
    <xs:sequence>
      <xs:element name="MsgHdr" type="MessageHeader9"/>
      <xs:element name="TxQryDef" type="TransactionQuery5" minOccurs="0"/>
      <xs:element name="SplmtryData" type="SupplementaryData1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetTransactionV08_CH_camt005">
    <xs:complexContent>
      <xs:restriction base="GetTransactionV08">
        <xs:sequence>
          <xs:element name="MsgHdr" type="MessageHeader9_CH_camt005"/>
          <xs:element name="TxQryDef" type="TransactionQuery5_CH_camt005"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="IBAN2007Identifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ImpliedCurrencyAmountRange1Choice">
    <xs:choice>
      <xs:element name="FrAmt" type="AmountRangeBoundary1"/>
      <xs:element name="ToAmt" type="AmountRangeBoundary1"/>
      <xs:element name="FrToAmt" type="FromToAmountRange1"/>
      <xs:element name="EQAmt" type="ImpliedCurrencyAndAmount"/>
      <xs:element name="NEQAmt" type="ImpliedCurrencyAndAmount"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ImpliedCurrencyAmountRange1Choice_CH_camt005">
    <xs:complexContent>
      <xs:restriction base="ImpliedCurrencyAmountRange1Choice">
        <xs:choice>
          <xs:element name="FrAmt" type="AmountRangeBoundary1"/>
          <xs:element name="FrToAmt" type="FromToAmountRange1"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ImpliedCurrencyAndAmount">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ImpliedCurrencyAndAmountRange1">
    <xs:sequence>
      <xs:element name="Amt" type="ImpliedCurrencyAmountRange1Choice"/>
      <xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Instruction1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PBEN"/>
      <xs:enumeration value="TFRO"/>
      <xs:enumeration value="TTIL"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="InstructionStatusReturnCriteria1">
    <xs:sequence>
      <xs:element name="PmtInstrStsInd" type="RequestedIndicator"/>
      <xs:element name="PmtInstrStsDtTmInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="PmtInstrStsRsnInd" type="RequestedIndicator" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InstructionStatusSearch5">
    <xs:sequence>
      <xs:element name="PmtInstrSts" type="PaymentStatusCodeSearch2Choice" minOccurs="0"/>
      <xs:element name="PmtInstrStsDtTm" type="DateTimePeriod1Choice" minOccurs="0"/>
      <xs:element name="PrtryStsRsn" type="Max4AlphaNumericText" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InstructionStatusSearch5_CH_camt005">
    <xs:complexContent>
      <xs:restriction base="InstructionStatusSearch5">
        <xs:sequence>
          <xs:element name="PmtInstrSts" type="PaymentStatusCodeSearch2Choice_CH_camt005"/>
          <xs:element name="PmtInstrStsDtTm" type="DateTimePeriod1Choice_CH_camt005" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="LEIIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="LongPaymentIdentification2">
    <xs:sequence>
      <xs:element name="TxId" type="Max35Text" minOccurs="0"/>
      <xs:element name="UETR" type="UUIDv4Identifier" minOccurs="0"/>
      <xs:element name="IntrBkSttlmAmt" type="ImpliedCurrencyAndAmount"/>
      <xs:element name="IntrBkSttlmDt" type="ISODate"/>
      <xs:element name="PmtMtd" type="PaymentOrigin1Choice" minOccurs="0"/>
      <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification6"/>
      <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification6"/>
      <xs:element name="NtryTp" type="EntryTypeIdentifier" minOccurs="0"/>
      <xs:element name="EndToEndId" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LongPaymentIdentification2_CH_camt005">
    <xs:complexContent>
      <xs:restriction base="LongPaymentIdentification2">
        <xs:sequence>
          <xs:element name="TxId" type="Max35Text" minOccurs="0"/>
          <xs:element name="UETR" type="UUIDv4Identifier" minOccurs="0"/>
          <xs:element name="IntrBkSttlmAmt" type="ImpliedCurrencyAndAmount"/>
          <xs:element name="IntrBkSttlmDt" type="ISODate"/>
          <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification6_CH_camt005_2"/>
          <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification6_CH_camt005_2"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="Max128Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="128"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max140Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="140"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max16Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max2048Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="2048"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max34Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="34"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max350Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="350"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_CH_camt005">
    <xs:restriction base="Max35Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="[A-Za-z0-9+?/:()\.,&apos;\-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max3NumericText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max4AlphaNumericText">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
      <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max4Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max70Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MessageHeader9">
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text"/>
      <xs:element name="CreDtTm" type="ISODateTime" minOccurs="0"/>
      <xs:element name="ReqTp" type="RequestType4Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageHeader9_CH_camt005">
    <xs:complexContent>
      <xs:restriction base="MessageHeader9">
        <xs:sequence>
          <xs:element name="MsgId" type="Max35Text_CH_camt005"/>
          <xs:element name="CreDtTm" type="ISODateTime"/>
          <xs:element name="ReqTp" type="RequestType4Choice_CH_camt005"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="NamePrefix2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DOCT"/>
      <xs:enumeration value="MADM"/>
      <xs:enumeration value="MIKS"/>
      <xs:enumeration value="MISS"/>
      <xs:enumeration value="MIST"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OrganisationIdentification29">
    <xs:sequence>
      <xs:element name="AnyBIC" type="AnyBICDec2014Identifier" minOccurs="0"/>
      <xs:element name="LEI" type="LEIIdentifier" minOccurs="0"/>
      <xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentification29_CH_camt005">
    <xs:complexContent>
      <xs:restriction base="OrganisationIdentification29">
        <xs:sequence>
          <xs:element name="AnyBIC" type="AnyBICDec2014Identifier" minOccurs="0"/>
          <xs:element name="Othr" type="GenericOrganisationIdentification1_CH_camt005" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentificationSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="OtherContact1">
    <xs:sequence>
      <xs:element name="ChanlTp" type="Max4Text"/>
      <xs:element name="Id" type="Max128Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Party38Choice">
    <xs:choice>
      <xs:element name="OrgId" type="OrganisationIdentification29"/>
      <xs:element name="PrvtId" type="PersonIdentification13"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Party38Choice_CH_camt005">
    <xs:complexContent>
      <xs:restriction base="Party38Choice">
        <xs:choice>
          <xs:element name="OrgId" type="OrganisationIdentification29_CH_camt005"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Party40Choice">
    <xs:choice>
      <xs:element name="Pty" type="PartyIdentification135"/>
      <xs:element name="Agt" type="BranchAndFinancialInstitutionIdentification6"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PartyIdentification135">
    <xs:sequence>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress24" minOccurs="0"/>
      <xs:element name="Id" type="Party38Choice" minOccurs="0"/>
      <xs:element name="CtryOfRes" type="CountryCode" minOccurs="0"/>
      <xs:element name="CtctDtls" type="Contact4" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification135_CH_camt005">
    <xs:complexContent>
      <xs:restriction base="PartyIdentification135">
        <xs:sequence>
          <xs:element name="Id" type="Party38Choice_CH_camt005"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PaymentIdentification6Choice">
    <xs:choice>
      <xs:element name="TxId" type="Max35Text"/>
      <xs:element name="QId" type="QueueTransactionIdentification1"/>
      <xs:element name="LngBizId" type="LongPaymentIdentification2"/>
      <xs:element name="ShrtBizId" type="ShortPaymentIdentification2"/>
      <xs:element name="PrtryId" type="Max70Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PaymentIdentification6Choice_CH_camt005">
    <xs:complexContent>
      <xs:restriction base="PaymentIdentification6Choice">
        <xs:choice>
          <xs:element name="LngBizId" type="LongPaymentIdentification2_CH_camt005"/>
          <xs:element name="PrtryId" type="Max70Text"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="PaymentInstrument1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BCT"/>
      <xs:enumeration value="BDT"/>
      <xs:enumeration value="BKT"/>
      <xs:enumeration value="CAN"/>
      <xs:enumeration value="CCP"/>
      <xs:enumeration value="CCT"/>
      <xs:enumeration value="CDT"/>
      <xs:enumeration value="CHK"/>
      <xs:enumeration value="DCP"/>
      <xs:enumeration value="RTI"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PaymentOrigin1Choice">
    <xs:choice>
      <xs:element name="FINMT" type="Max3NumericText"/>
      <xs:element name="XMLMsgNm" type="Max35Text"/>
      <xs:element name="Prtry" type="Max35Text"/>
      <xs:element name="Instrm" type="PaymentInstrument1Code"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PaymentOrigin1Choice_CH_camt005">
    <xs:complexContent>
      <xs:restriction base="PaymentOrigin1Choice">
        <xs:choice>
          <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PaymentReturnCriteria4">
    <xs:sequence>
      <xs:element name="MsgIdInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="ReqdExctnDtInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="InstrInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="InstrStsRtrCrit" type="InstructionStatusReturnCriteria1" minOccurs="0"/>
      <xs:element name="InstdAmtInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="CdtDbtInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="IntrBkSttlmAmtInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="PrtyInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="PrcgVldtyTmInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="PurpInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="InstrCpyInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="PmtMTInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="PmtTpInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="TxIdInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="IntrBkSttlmDtInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="EndToEndIdInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="PmtMtdInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="DbtrInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="DbtrAgtInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="InstgRmbrsmntAgtInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="InstdRmbrsmntAgtInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="IntrmyInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="CdtrAgtInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="CdtrInd" type="RequestedIndicator" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentSearch8">
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ReqdExctnDt" type="DateAndDateTimeSearch3Choice" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="PmtId" type="PaymentIdentification6Choice" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Sts" type="InstructionStatusSearch5" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="InstdAmt" type="ActiveOrHistoricAmountRange2Choice" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="InstdAmtCcy" type="ActiveOrHistoricCurrencyCode" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
      <xs:element name="IntrBkSttlmAmt" type="ActiveAmountRange3Choice" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="IntrBkSttlmAmtCcy" type="ActiveCurrencyCode" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="PmtMtd" type="PaymentOrigin1Choice" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="PmtTp" type="PaymentType4Choice" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Prty" type="Priority1Choice" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="PrcgVldtyTm" type="DateTimePeriod1Choice" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Instr" type="Instruction1Code" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="TxId" type="Max35Text" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="IntrBkSttlmDt" type="ISODate" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="EndToEndId" type="Max35Text" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Pties" type="PaymentTransactionParty3" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentSearch8_CH_camt005">
    <xs:complexContent>
      <xs:restriction base="PaymentSearch8">
        <xs:sequence>
          <xs:element name="MsgId" type="Max35Text" minOccurs="0"/>
          <xs:element name="ReqdExctnDt" type="DateAndDateTimeSearch3Choice_CH_camt005" minOccurs="0"/>
          <xs:element name="PmtId" type="PaymentIdentification6Choice_CH_camt005" minOccurs="0"/>
          <xs:element name="Sts" type="InstructionStatusSearch5_CH_camt005" minOccurs="0"/>
          <xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
          <xs:element name="IntrBkSttlmAmt" type="ActiveAmountRange3Choice_CH_camt005" minOccurs="0"/>
          <xs:element name="PmtMtd" type="PaymentOrigin1Choice_CH_camt005" minOccurs="0"/>
          <xs:element name="Prty" type="Priority1Choice_CH_camt005" minOccurs="0"/>
          <xs:element name="TxId" type="Max35Text_CH_camt005" minOccurs="0"/>
          <xs:element name="IntrBkSttlmDt" type="ISODate" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PaymentStatusCodeSearch2Choice">
    <xs:choice>
      <xs:element name="PdgSts" type="PendingStatus4Code"/>
      <xs:element name="FnlSts" type="FinalStatusCode"/>
      <xs:element name="PdgAndFnlSts" type="CashPaymentStatus2Code"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PaymentStatusCodeSearch2Choice_CH_camt005">
    <xs:complexContent>
      <xs:restriction base="PaymentStatusCodeSearch2Choice">
        <xs:choice>
          <xs:element name="PdgSts" type="PendingStatus4Code_CH_camt005"/>
          <xs:element name="FnlSts" type="FinalStatusCode_CH_camt005"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PaymentTransactionParty3">
    <xs:sequence>
      <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification6" minOccurs="0"/>
      <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification6" minOccurs="0"/>
      <xs:element name="UltmtDbtr" type="Party40Choice" minOccurs="0"/>
      <xs:element name="Dbtr" type="Party40Choice" minOccurs="0"/>
      <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification6" minOccurs="0"/>
      <xs:element name="InstgRmbrsmntAgt" type="BranchAndFinancialInstitutionIdentification6" minOccurs="0"/>
      <xs:element name="InstdRmbrsmntAgt" type="BranchAndFinancialInstitutionIdentification6" minOccurs="0"/>
      <xs:element name="IntrmyAgt1" type="BranchAndFinancialInstitutionIdentification6" minOccurs="0"/>
      <xs:element name="IntrmyAgt2" type="BranchAndFinancialInstitutionIdentification6" minOccurs="0"/>
      <xs:element name="IntrmyAgt3" type="BranchAndFinancialInstitutionIdentification6" minOccurs="0"/>
      <xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification6" minOccurs="0"/>
      <xs:element name="Cdtr" type="Party40Choice" minOccurs="0"/>
      <xs:element name="UltmtCdtr" type="Party40Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PaymentType3Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BAL"/>
      <xs:enumeration value="BCK"/>
      <xs:enumeration value="CBH"/>
      <xs:enumeration value="CBP"/>
      <xs:enumeration value="CBS"/>
      <xs:enumeration value="CLS"/>
      <xs:enumeration value="CTR"/>
      <xs:enumeration value="DPG"/>
      <xs:enumeration value="DPH"/>
      <xs:enumeration value="DPN"/>
      <xs:enumeration value="DPP"/>
      <xs:enumeration value="DPS"/>
      <xs:enumeration value="EXP"/>
      <xs:enumeration value="LIQ"/>
      <xs:enumeration value="LMT"/>
      <xs:enumeration value="LOA"/>
      <xs:enumeration value="LOR"/>
      <xs:enumeration value="MGL"/>
      <xs:enumeration value="OND"/>
      <xs:enumeration value="STF"/>
      <xs:enumeration value="TCH"/>
      <xs:enumeration value="TCP"/>
      <xs:enumeration value="TCS"/>
      <xs:enumeration value="TRP"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PaymentType4Choice">
    <xs:choice>
      <xs:element name="Cd" type="PaymentType3Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="PendingStatus4Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACPD"/>
      <xs:enumeration value="AUTD"/>
      <xs:enumeration value="AVLB"/>
      <xs:enumeration value="INVD"/>
      <xs:enumeration value="MATD"/>
      <xs:enumeration value="PCAN"/>
      <xs:enumeration value="PFST"/>
      <xs:enumeration value="PSTL"/>
      <xs:enumeration value="RMLR"/>
      <xs:enumeration value="SMLR"/>
      <xs:enumeration value="SRBL"/>
      <xs:enumeration value="SRML"/>
      <xs:enumeration value="SSPD"/>
      <xs:enumeration value="STLE"/>
      <xs:enumeration value="STLM"/>
      <xs:enumeration value="UMAC"/>
      <xs:enumeration value="VALD"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PendingStatus4Code_CH_camt005">
    <xs:restriction base="PendingStatus4Code">
      <xs:enumeration value="VALD"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PersonIdentification13">
    <xs:sequence>
      <xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth1" minOccurs="0"/>
      <xs:element name="Othr" type="GenericPersonIdentification1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentificationSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="PhoneNumber">
    <xs:restriction base="xs:string">
      <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PostalAddress24">
    <xs:sequence>
      <xs:element name="AdrTp" type="AddressType3Choice" minOccurs="0"/>
      <xs:element name="Dept" type="Max70Text" minOccurs="0"/>
      <xs:element name="SubDept" type="Max70Text" minOccurs="0"/>
      <xs:element name="StrtNm" type="Max70Text" minOccurs="0"/>
      <xs:element name="BldgNb" type="Max16Text" minOccurs="0"/>
      <xs:element name="BldgNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="Flr" type="Max70Text" minOccurs="0"/>
      <xs:element name="PstBx" type="Max16Text" minOccurs="0"/>
      <xs:element name="Room" type="Max70Text" minOccurs="0"/>
      <xs:element name="PstCd" type="Max16Text" minOccurs="0"/>
      <xs:element name="TwnNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="TwnLctnNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="DstrctNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0"/>
      <xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
      <xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PreferredContactMethod1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CELL"/>
      <xs:enumeration value="FAXX"/>
      <xs:enumeration value="LETT"/>
      <xs:enumeration value="MAIL"/>
      <xs:enumeration value="PHON"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Priority1Choice">
    <xs:choice>
      <xs:element name="Cd" type="Priority5Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Priority1Choice_CH_camt005">
    <xs:complexContent>
      <xs:restriction base="Priority1Choice">
        <xs:choice>
          <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="Priority5Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HIGH"/>
      <xs:enumeration value="LOWW"/>
      <xs:enumeration value="NORM"/>
      <xs:enumeration value="URGT"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="QueryType2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ALLL"/>
      <xs:enumeration value="CHNG"/>
      <xs:enumeration value="DELD"/>
      <xs:enumeration value="MODF"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="QueueTransactionIdentification1">
    <xs:sequence>
      <xs:element name="QId" type="Max16Text"/>
      <xs:element name="PosInQ" type="Max16Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ReportIndicator1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PRPR"/>
      <xs:enumeration value="STND"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RequestedIndicator">
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:complexType name="RequestType4Choice">
    <xs:choice>
      <xs:element name="PmtCtrl" type="ExternalPaymentControlRequestType1Code"/>
      <xs:element name="Enqry" type="ExternalEnquiryRequestType1Code"/>
      <xs:element name="Prtry" type="GenericIdentification1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="RequestType4Choice_CH_camt005">
    <xs:complexContent>
      <xs:restriction base="RequestType4Choice">
        <xs:choice>
          <xs:element name="Prtry" type="GenericIdentification1_CH_camt005"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ShortPaymentIdentification2">
    <xs:sequence>
      <xs:element name="TxId" type="Max35Text"/>
      <xs:element name="IntrBkSttlmDt" type="ISODate"/>
      <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification6"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SICText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}\p{IsLatinExtended-A}€ȘșȚț-[\p{C}]]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SupplementaryData1">
    <xs:sequence>
      <xs:element name="PlcAndNm" type="Max350Text" minOccurs="0"/>
      <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SupplementaryDataEnvelope1">
    <xs:sequence>
      <xs:any namespace="##any" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SystemReturnCriteria2">
    <xs:sequence>
      <xs:element name="SysIdInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="MmbIdInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="CtryIdInd" type="RequestedIndicator" minOccurs="0"/>
      <xs:element name="AcctIdInd" type="RequestedIndicator" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SystemSearch4">
    <xs:sequence>
      <xs:element name="SysId" type="ClearingSystemIdentification3Choice" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="MmbId" type="BranchAndFinancialInstitutionIdentification6" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
      <xs:element name="AcctId" type="AccountIdentification4Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SystemSearch4_CH_camt005">
    <xs:complexContent>
      <xs:restriction base="SystemSearch4">
        <xs:sequence>
          <xs:element name="MmbId" type="BranchAndFinancialInstitutionIdentification6_CH_camt005"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TransactionCriteria5Choice">
    <xs:choice>
      <xs:element name="QryNm" type="Max35Text"/>
      <xs:element name="NewCrit" type="TransactionCriteria8"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="TransactionCriteria5Choice_CH_camt005">
    <xs:complexContent>
      <xs:restriction base="TransactionCriteria5Choice">
        <xs:choice>
          <xs:element name="NewCrit" type="TransactionCriteria8_CH_camt005"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TransactionCriteria8">
    <xs:sequence>
      <xs:element name="NewQryNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="SchCrit" type="TransactionSearchCriteria8" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="StmtRpt" type="ReportIndicator1Code" minOccurs="0"/>
      <xs:element name="RtrCrit" type="TransactionReturnCriteria5" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionCriteria8_CH_camt005">
    <xs:complexContent>
      <xs:restriction base="TransactionCriteria8">
        <xs:sequence>
          <xs:element name="NewQryNm" type="Max35Text"/>
          <xs:element name="SchCrit" type="TransactionSearchCriteria8_CH_camt005"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TransactionQuery5">
    <xs:sequence>
      <xs:element name="QryTp" type="QueryType2Code" minOccurs="0"/>
      <xs:element name="TxCrit" type="TransactionCriteria5Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionQuery5_CH_camt005">
    <xs:complexContent>
      <xs:restriction base="TransactionQuery5">
        <xs:sequence>
          <xs:element name="TxCrit" type="TransactionCriteria5Choice_CH_camt005"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TransactionReturnCriteria5">
    <xs:sequence>
      <xs:element name="PmtToRtrCrit" type="SystemReturnCriteria2" minOccurs="0"/>
      <xs:element name="PmtFrRtrCrit" type="SystemReturnCriteria2" minOccurs="0"/>
      <xs:element name="AcctCshNtryRtrCrit" type="AccountCashEntryReturnCriteria3" minOccurs="0"/>
      <xs:element name="PmtRtrCrit" type="PaymentReturnCriteria4" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionSearchCriteria8">
    <xs:sequence>
      <xs:element name="PmtTo" type="SystemSearch4" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="PmtFr" type="SystemSearch4" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="PmtSch" type="PaymentSearch8" minOccurs="0"/>
      <xs:element name="AcctNtrySch" type="CashAccountEntrySearch6" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionSearchCriteria8_CH_camt005">
    <xs:complexContent>
      <xs:restriction base="TransactionSearchCriteria8">
        <xs:sequence>
          <xs:element name="PmtTo" type="SystemSearch4_CH_camt005" minOccurs="0"/>
          <xs:element name="PmtFr" type="SystemSearch4_CH_camt005" minOccurs="0"/>
          <xs:element name="PmtSch" type="PaymentSearch8_CH_camt005" minOccurs="0"/>
          <xs:element name="AcctNtrySch" type="CashAccountEntrySearch6_CH_camt005"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="UUIDv4Identifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="YesNoIndicator">
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
</xs:schema>
