backend/app/schemas_xsd/camt.007.001.08.ch.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
(C) Copyright 2021, SIX Interbank Clearing Ltd
XML Schema used in the Swiss Interbank space:
	Suffix part 1: .ch:	Identification as a Swiss (CH) version
	Suffix part 2: .01:   Version of this scheme

Based on ISO camt.007.001.08 (urn:iso:std:iso:20022:tech:xsd:camt.007.001.08)
-->
<xs:schema xmlns="http://www.six-interbank-clearing.com/de/camt.007.001.08.ch.01"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.six-interbank-clearing.com/de/camt.007.001.08.ch.01"
    elementFormDefault="qualified">
  <xs:element name="Document" type="Document_CH_camt007"/>
  <xs:simpleType name="AddressType2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADDR"/>
      <xs:enumeration value="BIZZ"/>
      <xs:enumeration value="DLVY"/>
      <xs:enumeration value="HOME"/>
      <xs:enumeration value="MLTO"/>
      <xs:enumeration value="PBOX"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AddressType3Choice">
    <xs:choice>
      <xs:element name="Cd" type="AddressType2Code"/>
      <xs:element name="Prtry" type="GenericIdentification30"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="BICFIDec2014Identifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification6">
    <xs:sequence>
      <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18"/>
      <xs:element name="BrnchId" type="BranchData3" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification6_CH_camt007">
    <xs:complexContent>
      <xs:restriction base="BranchAndFinancialInstitutionIdentification6">
        <xs:sequence>
          <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18_CH_camt007"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification6_CH_camt007_2">
    <xs:complexContent>
      <xs:restriction base="BranchAndFinancialInstitutionIdentification6">
        <xs:sequence>
          <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18_CH_camt007_2"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BranchData3">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text" minOccurs="0"/>
      <xs:element name="LEI" type="LEIIdentifier" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress24" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemIdentification2Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ClearingSystemIdentification2Choice_CH_camt007">
    <xs:complexContent>
      <xs:restriction base="ClearingSystemIdentification2Choice">
        <xs:choice>
          <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2">
    <xs:sequence>
      <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice" minOccurs="0"/>
      <xs:element name="MmbId" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2_CH_camt007">
    <xs:complexContent>
      <xs:restriction base="ClearingSystemMemberIdentification2">
        <xs:sequence>
          <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice_CH_camt007" minOccurs="0"/>
          <xs:element name="MmbId" type="Max35Text"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="CountryCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DateTimePeriod1">
    <xs:sequence>
      <xs:element name="FrDtTm" type="ISODateTime"/>
      <xs:element name="ToDtTm" type="ISODateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateTimePeriod1Choice">
    <xs:choice>
      <xs:element name="FrDtTm" type="ISODateTime"/>
      <xs:element name="ToDtTm" type="ISODateTime"/>
      <xs:element name="DtTmRg" type="DateTimePeriod1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="ModfyTx" type="ModifyTransactionV08"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document_CH_camt007">
    <xs:complexContent>
      <xs:restriction base="Document">
        <xs:sequence>
          <xs:element name="ModfyTx" type="ModifyTransactionV08_CH_camt007"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="EntryTypeIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[BEOVW]{1,1}[0-9]{2,2}|DUM"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Exact4AlphaNumericText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z0-9]{4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalClearingSystemIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FinancialIdentificationSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification18">
    <xs:sequence>
      <xs:element name="BICFI" type="BICFIDec2014Identifier" minOccurs="0"/>
      <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2" minOccurs="0"/>
      <xs:element name="LEI" type="LEIIdentifier" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress24" minOccurs="0"/>
      <xs:element name="Othr" type="GenericFinancialIdentification1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification18_CH_camt007">
    <xs:complexContent>
      <xs:restriction base="FinancialInstitutionIdentification18">
        <xs:sequence>
          <xs:element name="BICFI" type="BICFIDec2014Identifier" minOccurs="0"/>
          <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2_CH_camt007" minOccurs="0"/>
          <xs:element name="Othr" type="GenericFinancialIdentification1_CH_camt007" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification18_CH_camt007_2">
    <xs:complexContent>
      <xs:restriction base="FinancialInstitutionIdentification18">
        <xs:sequence>
          <xs:element name="BICFI" type="BICFIDec2014Identifier" minOccurs="0"/>
          <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2_CH_camt007" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericFinancialIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="FinancialIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericFinancialIdentification1_CH_camt007">
    <xs:complexContent>
      <xs:restriction base="GenericFinancialIdentification1">
        <xs:sequence>
          <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericIdentification30">
    <xs:sequence>
      <xs:element name="Id" type="Exact4AlphaNumericText"/>
      <xs:element name="Issr" type="Max35Text"/>
      <xs:element name="SchmeNm" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ImpliedCurrencyAndAmount">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Instruction1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PBEN"/>
      <xs:enumeration value="TFRO"/>
      <xs:enumeration value="TTIL"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="LEIIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="LongPaymentIdentification2">
    <xs:sequence>
      <xs:element name="TxId" type="Max35Text" minOccurs="0"/>
      <xs:element name="UETR" type="UUIDv4Identifier" minOccurs="0"/>
      <xs:element name="IntrBkSttlmAmt" type="ImpliedCurrencyAndAmount"/>
      <xs:element name="IntrBkSttlmDt" type="ISODate"/>
      <xs:element name="PmtMtd" type="PaymentOrigin1Choice" minOccurs="0"/>
      <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification6"/>
      <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification6"/>
      <xs:element name="NtryTp" type="EntryTypeIdentifier" minOccurs="0"/>
      <xs:element name="EndToEndId" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LongPaymentIdentification2_CH_camt007">
    <xs:complexContent>
      <xs:restriction base="LongPaymentIdentification2">
        <xs:sequence>
          <xs:element name="TxId" type="Max35Text_CH_camt007"/>
          <xs:element name="IntrBkSttlmAmt" type="ImpliedCurrencyAndAmount"/>
          <xs:element name="IntrBkSttlmDt" type="ISODate"/>
          <xs:element name="PmtMtd" type="PaymentOrigin1Choice_CH_camt007"/>
          <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification6_CH_camt007"/>
          <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification6_CH_camt007_2"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="Max140Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="140"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max16Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max350Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="350"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_CH_camt007">
    <xs:restriction base="Max35Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="[A-Za-z0-9+?/:()\.,&apos;\-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max3NumericText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max70Text">
    <xs:restriction base="SICText">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MessageHeader1">
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text"/>
      <xs:element name="CreDtTm" type="ISODateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageHeader1_CH_camt007">
    <xs:complexContent>
      <xs:restriction base="MessageHeader1">
        <xs:sequence>
          <xs:element name="MsgId" type="Max35Text_CH_camt007"/>
          <xs:element name="CreDtTm" type="ISODateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ModifyTransactionV08">
    <xs:sequence>
      <xs:element name="MsgHdr" type="MessageHeader1"/>
      <xs:element name="Mod" type="TransactionModification5" maxOccurs="unbounded"/>
      <xs:element name="SplmtryData" type="SupplementaryData1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModifyTransactionV08_CH_camt007">
    <xs:complexContent>
      <xs:restriction base="ModifyTransactionV08">
        <xs:sequence>
          <xs:element name="MsgHdr" type="MessageHeader1_CH_camt007"/>
          <xs:element name="Mod" type="TransactionModification5_CH_camt007"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PaymentIdentification6Choice">
    <xs:choice>
      <xs:element name="TxId" type="Max35Text"/>
      <xs:element name="QId" type="QueueTransactionIdentification1"/>
      <xs:element name="LngBizId" type="LongPaymentIdentification2"/>
      <xs:element name="ShrtBizId" type="ShortPaymentIdentification2"/>
      <xs:element name="PrtryId" type="Max70Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PaymentIdentification6Choice_CH_camt007">
    <xs:complexContent>
      <xs:restriction base="PaymentIdentification6Choice">
        <xs:choice>
          <xs:element name="LngBizId" type="LongPaymentIdentification2_CH_camt007"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PaymentInstruction33">
    <xs:sequence>
      <xs:element name="Instr" type="Instruction1Code" minOccurs="0"/>
      <xs:element name="Tp" type="PaymentType4Choice" minOccurs="0"/>
      <xs:element name="Prty" type="Priority1Choice" minOccurs="0"/>
      <xs:element name="PrcgVldtyTm" type="DateTimePeriod1Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentInstruction33_CH_camt007">
    <xs:complexContent>
      <xs:restriction base="PaymentInstruction33">
        <xs:sequence>
          <xs:element name="Tp" type="PaymentType4Choice_CH_camt007"/>
          <xs:element name="Prty" type="Priority1Choice_CH_camt007" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="PaymentInstrument1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BCT"/>
      <xs:enumeration value="BDT"/>
      <xs:enumeration value="BKT"/>
      <xs:enumeration value="CAN"/>
      <xs:enumeration value="CCP"/>
      <xs:enumeration value="CCT"/>
      <xs:enumeration value="CDT"/>
      <xs:enumeration value="CHK"/>
      <xs:enumeration value="DCP"/>
      <xs:enumeration value="RTI"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PaymentOrigin1Choice">
    <xs:choice>
      <xs:element name="FINMT" type="Max3NumericText"/>
      <xs:element name="XMLMsgNm" type="Max35Text"/>
      <xs:element name="Prtry" type="Max35Text"/>
      <xs:element name="Instrm" type="PaymentInstrument1Code"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PaymentOrigin1Choice_CH_camt007">
    <xs:complexContent>
      <xs:restriction base="PaymentOrigin1Choice">
        <xs:choice>
          <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="PaymentType3Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BAL"/>
      <xs:enumeration value="BCK"/>
      <xs:enumeration value="CBH"/>
      <xs:enumeration value="CBP"/>
      <xs:enumeration value="CBS"/>
      <xs:enumeration value="CLS"/>
      <xs:enumeration value="CTR"/>
      <xs:enumeration value="DPG"/>
      <xs:enumeration value="DPH"/>
      <xs:enumeration value="DPN"/>
      <xs:enumeration value="DPP"/>
      <xs:enumeration value="DPS"/>
      <xs:enumeration value="EXP"/>
      <xs:enumeration value="LIQ"/>
      <xs:enumeration value="LMT"/>
      <xs:enumeration value="LOA"/>
      <xs:enumeration value="LOR"/>
      <xs:enumeration value="MGL"/>
      <xs:enumeration value="OND"/>
      <xs:enumeration value="STF"/>
      <xs:enumeration value="TCH"/>
      <xs:enumeration value="TCP"/>
      <xs:enumeration value="TCS"/>
      <xs:enumeration value="TRP"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PaymentType4Choice">
    <xs:choice>
      <xs:element name="Cd" type="PaymentType3Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PaymentType4Choice_CH_camt007">
    <xs:complexContent>
      <xs:restriction base="PaymentType4Choice">
        <xs:choice>
          <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PostalAddress24">
    <xs:sequence>
      <xs:element name="AdrTp" type="AddressType3Choice" minOccurs="0"/>
      <xs:element name="Dept" type="Max70Text" minOccurs="0"/>
      <xs:element name="SubDept" type="Max70Text" minOccurs="0"/>
      <xs:element name="StrtNm" type="Max70Text" minOccurs="0"/>
      <xs:element name="BldgNb" type="Max16Text" minOccurs="0"/>
      <xs:element name="BldgNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="Flr" type="Max70Text" minOccurs="0"/>
      <xs:element name="PstBx" type="Max16Text" minOccurs="0"/>
      <xs:element name="Room" type="Max70Text" minOccurs="0"/>
      <xs:element name="PstCd" type="Max16Text" minOccurs="0"/>
      <xs:element name="TwnNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="TwnLctnNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="DstrctNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0"/>
      <xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
      <xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Priority1Choice">
    <xs:choice>
      <xs:element name="Cd" type="Priority5Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Priority1Choice_CH_camt007">
    <xs:complexContent>
      <xs:restriction base="Priority1Choice">
        <xs:choice>
          <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="Priority5Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HIGH"/>
      <xs:enumeration value="LOWW"/>
      <xs:enumeration value="NORM"/>
      <xs:enumeration value="URGT"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="QueueTransactionIdentification1">
    <xs:sequence>
      <xs:element name="QId" type="Max16Text"/>
      <xs:element name="PosInQ" type="Max16Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ShortPaymentIdentification2">
    <xs:sequence>
      <xs:element name="TxId" type="Max35Text"/>
      <xs:element name="IntrBkSttlmDt" type="ISODate"/>
      <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification6"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SICText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}\p{IsLatinExtended-A}€ȘșȚț-[\p{C}]]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SupplementaryData1">
    <xs:sequence>
      <xs:element name="PlcAndNm" type="Max350Text" minOccurs="0"/>
      <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SupplementaryDataEnvelope1">
    <xs:sequence>
      <xs:any namespace="##any" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionModification5">
    <xs:sequence>
      <xs:element name="PmtId" type="PaymentIdentification6Choice"/>
      <xs:element name="NewPmtValSet" type="PaymentInstruction33"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionModification5_CH_camt007">
    <xs:complexContent>
      <xs:restriction base="TransactionModification5">
        <xs:sequence>
          <xs:element name="PmtId" type="PaymentIdentification6Choice_CH_camt007"/>
          <xs:element name="NewPmtValSet" type="PaymentInstruction33_CH_camt007"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="UUIDv4Identifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
